{% load static %}

<script type="text/javascript" src="{% static 'lib/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/wow.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/owl.carousel.min.js' %}"></script>
<script> new WOW().init(); </script>

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>