{% load i18n web_tags %}

{% list_paraclinics as list_paraclinics %}
{% list_officials as list_officials %}
{% list_medicals as list_medicals %}

<!-- preloading page -->
<section id="preloading">
    <div class="wrapper">
        <div class="spinner"></div>
        <div class="text">
            <h2>بیمارستان تخصصی موسی ابن جعفر (ع)</h2>
            <p>در حال بارگیری...</p>
        </div>
    </div>
</section>

<!-- message box -->
{% if messages %}
<section class="message_box">
    {% for message in messages %}
    <div class="message {% if message.tags %} message--{{ message.tags }}{% endif %}" onclick="close_alertbox('message_{{ forloop.counter }}')" id="message_{{ forloop.counter }}">
        <div class="glass">برای بستن <i class="fa fa-mouse-pointer"></i> کنید</div>
        <i class="fa fa-check message_icon"></i>
        <span>{{ message }}</span>
    </div>
    {% endfor %}
</section>
{% endif %}


<!-- megamenu in navbar -->
<section id="megamenu__navbar">

    <li class="bars_div">
        <button><i class="fa fa-bars"></i></button> 
        <a href="{% url 'website:home' %}">بیمارستان تخصصی موسی ابن جعفر (ع)</a>
    </li>

    <div class="wrapper">
        <li class="megamenu__item" role="menuitem">
            <a href="{% url 'website:home' %}" class="li_active">خانه</a>
        </li>
        
        <li class="megamenu__item" role="menuitem">
            <a href="javascript:void(0);">درباره ما <i class="fa fa-chevron-down"></i></a>
            <div class="megamenu__menu" aria-hidden="true" role="menu">
                <div class="megamenu__menu_ul">
                    <div class="megamenu__wrapper">
                        <ul>
                            <li role="menuitem"><a href="{% url 'website:aboutus' %}"><i class="fa fa-chevron-left"></i> درباره ما</a></li>
                            <li role="menuitem"><a href="{% url 'website:history' %}"><i class="fa fa-chevron-left"></i> تاریخچه ی بیمارستان</a></li>
                            <li role="menuitem"><a href="{% url 'website:workshops' %}"><i class="fa fa-chevron-left"></i> دوره‌ها و کارگاه‌ها</a></li>
                            <li role="menuitem"><a href="{% url 'website:certificates' %}"><i class="fa fa-chevron-left"></i> افتخارات و گواهی نامه‌ها</a></li>
                            <li role="menuitem"><a href="{% url 'website:gallery-imgs' %}"><i class="fa fa-chevron-left"></i> گالری تصاویر</a></li>
                            <li role="menuitem"><a href="{% url 'website:gallery-vids' %}"><i class="fa fa-chevron-left"></i> گالری ویدئو</a></li>
                            <li role="menuitem"><a href="{% url 'website:policies' %}"><i class="fa fa-chevron-left"></i> سیاست‌های بیمارستان</a></li>
                            <li role="menuitem"><a href="{% url 'website:board-of-directors' %}"><i class="fa fa-chevron-left"></i> هیات مدیره</a></li>
                            <li role="menuitem"><a href="{% url 'website:ceo-management' %}"><i class="fa fa-chevron-left"></i> مدیرعامل و گروه مدیریت</a></li>
                            <li role="menuitem"><a href="{% url 'website:chart' %}"><i class="fa fa-chevron-left"></i> چارت بیمارستان</a></li>
                        </ul>
                    </div>
                </div>
                <div class="megamenu__menu_ul">
                    <div class="megamenu__wrapper">
                        <ul>
                            <li role="menuitem"><a href="{% url 'website:results' %}"><i class="fa fa-chevron-left"></i> دستاوردها</a></li>
                            <li role="menuitem"><a href="{% url 'website:perspective' %}"><i class="fa fa-chevron-left"></i> چشم انداز، رسالت و ارزش‌ها</a></li>
                            <li role="menuitem"><a href="{% url 'website:visiting-famous' %}"><i class="fa fa-chevron-left"></i> چهره های سرشناس مراجعه کننده</a></li>
                            <li role="menuitem"><a href="{% url 'website:patient-chart' %}"><i class="fa fa-chevron-left"></i> منشور حقوق بيمار</a></li>
                            <li role="menuitem"><a href="{% url 'website:committees' %}"><i class="fa fa-chevron-left"></i> کمیته های بیمارستان</a></li>
                            <li role="menuitem"><a href="{% url 'website:credit' %}"><i class="fa fa-chevron-left"></i> اعتبار بخشی</a></li>
                            <li role="menuitem"><a href="{% url 'website:quality-improvement' %}"><i class="fa fa-chevron-left"></i> واحد بهبود کیفیت</a></li>
                            <li role="menuitem"><a href="{% url 'website:deceaseds' %}"><i class="fa fa-chevron-left"></i> گذشتگان بیمارستان</a></li>
                            <li role="menuitem"><a href="{% url 'website:benefactors' %}"><i class="fa fa-chevron-left"></i> خیر و نیکوکار</a></li>
                            <li role="menuitem"><a href="{% url 'website:facility' %}"><i class="fa fa-chevron-left"></i> امکانات رفاهی بیمارستان</a></li>
                            <li role="menuitem"><a href="{% url 'website:reports' %}"><i class="fa fa-chevron-left"></i> گزارش عملکرد بیمارستان</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>

        <li class="megamenu__item" role="menuitem">
            <a href="javascript:void(0);">راهنمای بیمار <i class="fa fa-chevron-down"></i></a>
            <div class="megamenu__menu" aria-hidden="true" role="menu">
                <div class="megamenu__menu_ul">
                    <div class="megamenu__wrapper">
                        <ul>
                            <li role="menuitem"><a href="{% url 'doctor:doctors' %}"><i class="fa fa-chevron-left"></i> فهرست و جستجوی پزشکان</a></li>
                            <li role="menuitem"><a href="{% url 'website:clinic-program' %}"><i class="fa fa-chevron-left"></i> برنامه کلینیک</a></li>
                            <li role="menuitem"><a href="{% url 'units:oa-home' %}"><i class="fa fa-chevron-left"></i> راهنمای نوبت دهی آنلاین</a></li>
                            <li role="menuitem"><a href="{% url 'website:prices' %}"><i class="fa fa-chevron-left"></i> تعرفه‌ها</a></li>
                            <li role="menuitem"><a href="{% url 'website:insurances' %}"><i class="fa fa-chevron-left"></i> بیمه های طرف قرارداد</a></li>
                            <li role="menuitem"><a href="{% url 'website:phones' %}"><i class="fa fa-chevron-left"></i> تلفن‌ها</a></li>
                            <li role="menuitem"><a href="{% url 'website:visitors-guide' %}"><i class="fa fa-chevron-left"></i> راهنمای مراجعین</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>

        <li class="megamenu__item" role="menuitem">
            <a href="javascript:void(0);">خدمات و امکانات <i class="fa fa-chevron-down"></i></a>
            <div class="megamenu__menu" aria-hidden="true" role="menu">
                <div class="megamenu__menu_ul">
                    <div class="megamenu__wrapper">
                        <div>
                            <a href="{% url 'website:clinic-list' %}">کلینیک‌ها</a>
                        </div>
                    </div>
                    <div class="megamenu__wrapper">
                        <div>
                            <a href="{% url 'website:operatingroom-list' %}">اتاق های عمل</a>
                        </div>
                    </div>
                    <div class="megamenu__wrapper">
                        <div>
                            <a href="{% url 'website:official-list' %}">خدمات پشتیبانی</a>
                        </div>
                        <ul class="px2">
                            {% for item in list_officials %}
                            <li role="menuitem"><a href="{% url 'website:unit-info' item.id %}">{{ item.subunit.title }} {% if item.title %}{{ item.title }}{% endif %}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="megamenu__menu_ul">
                    <div class="megamenu__wrapper">
                        <div>
                            <a href="{% url 'website:paraclinic-list' %}">پاراکلینیک‌ها</a>
                        </div>
                        <ul class="px2">
                            {% for item in list_paraclinics %}
                            <li role="menuitem"><a href="{% url 'website:unit-info' item.id %}">{{ item.subunit.title }} {% if item.title %}{{ item.title }}{% endif %}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="megamenu__menu_ul">
                    <div class="megamenu__wrapper">
                        <div>
                            <a href="{% url 'website:medical-list' %}">بخش های درمانی</a>
                        </div>
                        <ul class="px2">
                            {% for item in list_medicals %}
                            <li role="menuitem"><a href="{% url 'website:unit-info' item.id %}">{{ item.subunit.title }} {% if item.title %}{{ item.title }}{% endif %}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </li>

        <li class="megamenu__item" role="menuitem">
            <a href="javascript:void(0);">خدمات الکترونیکی <i class="fa fa-chevron-down"></i></a>
            <div class="megamenu__menu" aria-hidden="true" role="menu">
                <div class="megamenu__menu_ul">
                    <div class="megamenu__wrapper">
                        <ul>
                            <li role="menuitem"><a href="{% url 'units:oa-categories' %}"><i class="fa fa-chevron-left"></i> نوبت دهی آنلاین</a></li>
                            <li role="menuitem"><a href="{% url 'units:oa-followupresult' %}"><i class="fa fa-chevron-left"></i> جوابدهی نتايج راديولوژي</a></li>
                            <li role="menuitem"><a href="{% url 'units:oa-followupresult' %}"><i class="fa fa-chevron-left"></i> جوابدهی نتايج آزمايشات</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>

        <li class="megamenu__item" role="menuitem">
            <a href="javascript:void(0);">گردشگری سلامت <i class="fa fa-chevron-down"></i></a>
            <div class="megamenu__menu" aria-hidden="true" role="menu">
                <div class="megamenu__menu_ul">
                    <div class="megamenu__wrapper">
                        <ul>
                            <li role="menuitem"><a href="{% url 'ipd:enter-phone' %}"><i class="fa fa-chevron-left"></i> فرم آنلاین مشاوره ی پزشکی</a></li>
                            <li role="menuitem"><a href="{% url 'ipd:services' %}"><i class="fa fa-chevron-left"></i> خدمات ویژه بیماران بین الملل</a></li>
                            <li role="menuitem"><a href="{% url 'ipd:contact' %}"><i class="fa fa-chevron-left"></i> اطلاعات تماس با بخش IPD</a></li>
                            <li role="menuitem"><a href="{% url 'ipd:doctors' %}"><i class="fa fa-chevron-left"></i> لیست پزشکان بیماران بین الملل</a></li>
                            <li role="menuitem"><a href="{% url 'ipd:prices' %}"><i class="fa fa-chevron-left"></i> تعرفه خدمات درمانی</a></li>
                            <li role="menuitem"><a href="{% url 'ipd:chart' %}"><i class="fa fa-chevron-left"></i> منشور حقوق بیماران بین الملل</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>

        <li class="megamenu__item" role="menuitem">
            <a href="{% url 'news:news' %}">اخبار</a>
        </li>
            
        <li class="megamenu__item" role="menuitem">
            <a href="javascript:void(0);">تماس <i class="fa fa-chevron-down"></i></a>
            <div class="megamenu__menu" aria-hidden="true" role="menu">
                <div class="megamenu__menu_ul">
                    <div class="megamenu__wrapper">
                        <ul>
                            <li role="menuitem"><a href="{% url 'contact:info' %}"><i class="fa fa-chevron-left"></i> اطلاعات تماس</a></li>
                            <li role="menuitem"><a href="{% url 'contact:contactus' %}"><i class="fa fa-chevron-left"></i> فرم تماس باما</a></li>
                            <li role="menuitem"><a href="{% url 'contact:careers' %}"><i class="fa fa-chevron-left"></i> همکاری باما</a></li>
                            <li role="menuitem"><a href="{% url 'contact:suggestions' %}"><i class="fa fa-chevron-left"></i> انتقادات و پیشنهادات</a></li>
                            <li role="menuitem"><a href="{% url 'contact:beneficiaries-comments' %}"><i class="fa fa-chevron-left"></i> نظرات ذینفعان</a></li>
                            <li role="menuitem"><a href="{% url 'contact:patients-comments' %}"><i class="fa fa-chevron-left"></i> دیدگاه بیماران</a></li>
                            <li role="menuitem"><a href="{% url 'contact:people-aids' %}"><i class="fa fa-chevron-left"></i> کمک‌های مردمی</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>

        <li class="megamenu__item" role="menuitem">
            <a href="{% url 'blog:blogs' %}">مجله‌ی سلامت</a>
        </li>

        <li class="megamenu__item" role="menuitem">
            <a href="{% url 'website:patient-edu' %}">آموزش بیمار</a>
        </li>
    </div>

</section>