<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>

    <title>{% block title %}{% endblock %}</title>

    {% include 'website/shared/_header_ref.html' %}
    
    {% block extraCss %}{% endblock %}
    <style>
        .d-none {
            display: none !important;
        }
        .bg-red {
            background-color: red !important;
            pointer-events: none !important;
        }

        .box {
            padding: 1rem;
            margin: 5px;
            border-radius: 7px;
            background-color: rgb(233, 233, 233);
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    </style>

</head>
<body>

    {% if messages %}
    <ul>
        {% for msg in messages %}
        <li style="color: red;"><p>{{ msg }}</p></li>
        {% endfor %}
    </ul>
    {% endif %}


    {% include 'website/shared/_header.html' %}

    {% block content %}{% endblock %}

    {% include 'website/shared/_footer.html' %} 

    {% include 'website/shared/_footer_ref.html' %}

    {% block extraScript %}{% endblock %}

</body>
</html>