{% load static web_tags %}

<!DOCTYPE html>
<html lang="{{ request.LANGUAGE_CODE }}">
<head>

    <title>{% block title %}{% endblock %}</title>

    {% include 'website/shared/_header_ref.html' %}
    
    {% block extraCss %}{% endblock %}

</head>
<body class="{% if request.LANGUAGE_CODE == 'ru' or request.LANGUAGE_CODE == 'en' %}ltr_template{% endif %}">

    {% include 'website/shared/_header.html' %}
    
    {% block content %}{% endblock %}
    
    {% include 'website/shared/_footer.html' %} 
    {% include 'website/shared/_footer_ref.html' %}

    {% block extraScript %}{% endblock %}

</body>
</html>