{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks web_tags %}
{% block title %}{% translate 'درباره ما' %}{% endblock %}
{% block extraCss %}
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/other.css' %}">
<!-- leaflet -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" /> 
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
{% endblock %}

{% block content %}

    {% include 'website/shared/_other_header.html' %}

    <!-- + content -->
    <main>

        <section class="page_title">
            <div class="line"></div>
            <div class="text">{% translate 'درباره ما' %}</div>
        </section>

        <article>
            
            <div class="corner__image--top"></div>
            <div class="corner__image--bottom"></div>
            
            <section class="container">


                <div class="row">
                    <div class="col-6">

                        <h3 class="my-2">{% translate 'درباره ما' %}</h3>
                        <div class="paragraph">{{ setting.aboutus|safe }}</div>

                        <h3 class="mt-3 mb-1">{% translate 'شبکه‌های اجتماعی' %}</h3>
                        <p class="mb-1">{% translate 'ما را در شبکه‌های اجتماعی زیر دنبال کنید:' %}</p>
                        
                        <ul class="link-wrapper">
                            {% if setting.email %}
                            <li><a href="{{ setting.email }}"><i class="fa fa-envelope"></i></a></li>
                            {% endif %}
                            
                            {% if setting.linkedin %}
                            <li><a href="{{ setting.linkedin }}"><i class="fab fa-linkedin"></i></a></li>
                            {% endif %}
                            
                            {% if setting.facebook %}
                            <li><a href="{{ setting.facebook }}"><i class="fab fa-facebook"></i></a></li>
                            {% endif %}
                            
                            {% if setting.twitter %}
                            <li><a href="{{ setting.twitter }}"><i class="fab fa-twitter"></i></a></li>
                            {% endif %}
                        </ul>
                        <ul class="link-wrapper">
                            
                            {% if setting.telegram %}
                            <li><a href="{{ setting.telegram }}"><i class="fab fa-telegram"></i></a></li>
                            {% endif %}
                            
                            {% if setting.fax %}
                            <li><a href="{{ setting.fax }}"><i class="fa fa-fax"></i></a></li>
                            {% endif %}
                            
                            {% if setting.instagram %}
                            <li><a href="{{ setting.instagram }}"><i class="fab fa-instagram"></i></a></li>
                            {% endif %}
                            
                        </ul>

                        {% if setting.aparat %}
                        <div class="text-center mt-2">
                            <a href="{{ setting.aparat }}">{% translate 'ما را در آپارات دنبال کنید' %}</a>
                        </div>
                        {% endif %}

                    </div>
                    <div class="col-6">

                        <h3 class="my-2">{% translate 'ساعات و قوانین ملاقات' %}</h3>
                        <div class="paragraph">{{ setting.rules_hours|safe }}</div>

                        <h3 class="mt-3 mb-2">{% translate 'تلفن‌ها' %}</h3>
                        <div class="paragraph">{{ setting.phone|safe }}</div>

                        <h3 class="mt-3 mb-2">{% translate 'آدرس ما' %}</h3>
                        <div class="paragraph">{{ setting.address|safe }}</div>
                        
                        <p class="mt-3 mb-1">{% translate 'مارا در نقشه پیدا کنید:' %}</p>
                        {% if setting.x_scale and setting.y_scale %}<div id="map"></div>{% endif %}

                    </div>
                </div>

            </section>

        </article>

    </main>
    <!-- - content -->

{% endblock %}

{% block extraScript %}
<script>
    var map = L.map('map').setView([{{setting.x_scale }}, {{ setting.y_scale }}], 13);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {}).addTo(map);
    L.marker([{{setting.x_scale }}, {{ setting.y_scale }}]).addTo(map).bindPopup("{{ setting.marker_text }}").openPopup();
</script>
{% endblock %}

