{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks web_tags %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

    {% for element in videos %}
    <div class="alert alert-light text-primary d-flex">
        <div style="flex: 1;">{{ element.title }}</div>
        <div style="flex: 1;">{% for item in element.items %}{{ item.file_link }}{% endfor %}</div>
    </div>
    {% endfor %}
    

{% endblock %}

