{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/auth.css' %}" media="screen and (min-width: 801px)">
<link rel="stylesheet" href="{% static 'css/responsive/auth-res.css' %}" media="screen and (max-width: 800px)">
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;">

    <div style="flex: 1; padding: 1rem 0; border: 1px solid #ccc; margin: 0.3rem; border-radius: 7px;" class="bg-light">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; margin: 0.3rem;">

        <h1>پنل مدیریت خبر</h1>

        <a href="{% url 'panel:news-create' %}">ساخت خبر جدید</a>

        <h1>خبر های منتشر نشده ی شما:</h1>

        {% for news in unpub_news %}
        <div class="alert alert-primary text-info d-flex">
            <p style="flex: 1;" title="image">{{ news.slug }}</p>
            <p style="flex: 1;" title="title">{{ news.title }}</p>
            <p style="flex: 1;" title="is_emailed">{{ news.is_emailed }}</p>
            <p style="flex: 1;" title="is_publish">{{ news.is_publish }}</p>
            <p style="flex: 1;" title="is_activate"><a class="btn btn-primary" href="{% url 'panel:news-edit' news.slug %}">ویرایش</a></p>
        </div>
        {% endfor %}

        <h1>همه ی خبر های شما:</h1>

        {% for news in news %}
        <div class="alert alert-primary text-info d-flex">
            <p style="flex: 1;" title="image">{{ news.slug }}</p>
            <p style="flex: 1;" title="title">{{ news.title }}</p>
            <p style="flex: 1;" title="is_emailed">{{ news.is_emailed }}</p>
            <p style="flex: 1;" title="is_publish">{{ news.is_publish }}</p>
            <p style="flex: 1;" title="is_activate"><a class="btn btn-primary" href="{% url 'panel:news-edit' news.slug %}">ویرایش</a></p>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}
