{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'آمپول | ورود' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}


{% block content %}

    <h1>ipd - login form</h1>
    <p>کد پیامک شده را وارد کنید.</p>

    <div class="container bg-light border p-3">
        
        <form method="POST" novalidate autocomplete="off">
            {% csrf_token %}

            {{ form.as_p }}

            <br>
            <button type="submit">ورود </button>
        </form>

    </div>

{% endblock %}