{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/auth.css' %}" media="screen and (min-width: 801px)">
<link rel="stylesheet" href="{% static 'css/responsive/auth-res.css' %}" media="screen and (max-width: 800px)">
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;">

    <div style="flex: 1; padding: 1rem 0; border: 1px solid #ccc; margin: 0.3rem; border-radius: 7px;" class="bg-light">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; margin: 0.3rem;">
        <h1>موقعیت های شغلی</h1>

        <form enctype="multipart/form-data" novalidate method="post">
            {% csrf_token %}
            
            {{ form.as_p }}

            <button type="submit">ارسال</button>

        </form>
        
        <br>

        {% for career in careers %}
        <div class="alert alert-primary d-flex">
            <p title="code" style="flex: 1;">{{ career.code }}</p>
            <p title="degree" style="flex: 1;">{{ career.degree }}</p>
            <p title="skill" style="flex: 1;">{{ career.skill }}</p>
            <p title="title" style="flex: 1;">{{ career.title }}</p>
            <p title="is_active" style="flex: 1;">{{ career.is_active }}</p>
            <p style="flex: 1;"><a class="btn btn-primary" href="{% url 'panel:contact-careeredit' career.code %}">ویرایش</a></p>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}