{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/auth.css' %}" media="screen and (min-width: 801px)">
<link rel="stylesheet" href="{% static 'css/responsive/auth-res.css' %}" media="screen and (max-width: 800px)">
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;">

    <div style="flex: 1; padding: 1rem 0; border: 1px solid #ccc; margin: 0.3rem; border-radius: 7px;" class="bg-light">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; margin: 0.3rem;">
        <h1>جزپیات ارتباطات</h1>

        {% if not contact.is_read %}
        <form novalidate method="post">
            {% csrf_token %}
            <label for="aaa">خوانده شد</label>
            <input type="checkbox" name="read_contact" id="aaa">
            <button type="submit">ثبت</button>
        </form>
        {% endif %}
        <br>

        <div class="alert alert-primary">
            <p title="message">{{ contact.message|safe }}</p>
            <p title="name">{{ contact.name }}</p>
            <p title="email">{{ contact.email }}</p>
            <p title="phone">{{ contact.phone }}</p>
            <p title="title">{{ contact.title }}</p>
            <p title="is_read">{{ contact.is_read }}</p>
            <p title="created">{{ contact.j_created }}</p>
        </div>
    </div>

</div>

{% endblock %}