{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks web_tags %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

{% for credit in credits %}
<div class="alert alert-light text-primary d-flex">
    <div style="flex: 1;">{{ credit.slug }}</div>
    <div style="flex: 1;">{{ credit.title }}</div>
    <div style="flex: 1;">{{ credit.image.url }}</div>
</div>
{% endfor %}

{% endblock %}