{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks web_tags %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

{% for ancient in ancients %}
<div class="alert alert-light text-primary d-flex">
    <div style="flex: 1;">{{ ancient.title }}</div>
    <div style="flex: 1;">{{ ancient.image }}</div>
    <div style="flex: 1;">{{ ancient.full_name }}</div>
    <div style="flex: 1;">{{ ancient.description }}</div>
    <div style="flex: 1;">{% for item in ancient.gallery.all }}{{ item.image }}{{ item.video_link }}{% endfor %}</div>
    <div style="flex: 1;">{{ ancient.video_link }}</div>
</div>
{% endfor %}

{% endblock %}