{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks web_tags %}
{% block title %}{% translate 'بیمارستان موسی ابن جعفر' %}{% endblock %}
{% block extraCss %}
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}

    {% doctor_notes as notes %}
    {% list_paraclinics as list_paraclinics %}
    {% list_officials as list_officials %}
    {% list_medicals as list_medicals %}

    {% for note in notes %}
    <div class="alert alert-primary d-none">{{ forloop.counter }}. {{ note.text }}</div>
    {% endfor %}

    <div class="d-none">
        {% for faq in faqs %}
        <div class="alert alert-success">
            {{ faq.question }} - {{ faq.answer }}
        </div>
        {% endfor %}
    </div>

    <!-- these are my codes ///////////////////////////////////////// -->

    <!-- + header -->
    <header id="header">

        <section class="header__slider owl-carousel1 owl-carousel owl-theme owl-loaded owl-drag">
            <div class="header__image item" style="background-image: url({% static 'img/_test.min.png' %});"></div>
            <div class="header__image item" style="background-image: url({% static 'img/_doctor.min.png' %});"></div>
            <div class="header__image item" style="background-image: url({% static 'img/map.min.png' %});"></div>
        </section>

        <section class="header__elements">

            <div class="container">

                <section class="top_of_menu">

                    <div class="website_logo">
                        <a href="/">
                            <img src="{% static 'img/logo-light.min.png' %}" alt="website logo">
                            <span class="animate__animated animate__fadeInUp wow" data-wow-delay="1.5s">بیمارستان تخصصی موسی بن جعفر(ع)</span>
                        </a>
                    </div>
                
                    <div class="website_option">

                        <div class="chnage_lang_div"><i class="fas fa-chevron-down pt-1-2"></i> {{ request.LANGUAGE_CODE }}</div>
                        <ul class="chnage_lang_toggle">
                            {% if request.LANGUAGE_CODE != 'fa' %}<li><a href="{% url 'activate_lang' %}?lang=fa&url={{ request.path|slice:'4:' }}">فارسی</a></li>{% endif %}
                            {% if request.LANGUAGE_CODE != 'en' %}<li><a href="{% url 'activate_lang' %}?lang=en&url={{ request.path|slice:'4:' }}">English</a></li>{% endif %}
                            {% if request.LANGUAGE_CODE != 'ar' %}<li><a href="{% url 'activate_lang' %}?lang=ar&url={{ request.path|slice:'4:' }}">العربیه</a></li>{% endif %}
                            {% if request.LANGUAGE_CODE != 'ru' %}<li><a href="{% url 'activate_lang' %}?lang=ru&url={{ request.path|slice:'4:' }}">Russian</a></li>{% endif %}
                        </ul>

                        <form method="GET" action="{% url 'website:search' %}" autocomplete="off" class="search_bar">
                            <div class="form_wrapper">
                                <input name="query" type="text" placeholder="جستجو کنید:">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                        <img class="image_search" src="{% static 'img/search.min.png' %}" alt="search icon">

                    </div>    
    
                </section>
    
                <nav>

                    <div class="sidebar_toggle_div">
                        <button class="sidebar_toggle_btn"><i class="fa fa-bars"></i></button>
                    </div>

                    {% include 'website/shared/sidebar_megamenu.html' %}
        
                </nav>

                <section class="contact_ways">
                    <div class="animate__animated animate__fadeIn wow" data-wow-delay=".4s">
                        <p><a href="">تلگرام</a></p>
                    </div>
                    <div class="animate__animated animate__fadeIn wow" data-wow-delay=".6s">
                        <p><a href="" class="text-pink">اینستاگرام</a></p>
                    </div>
                    <div class="animate__animated animate__fadeIn wow" data-wow-delay=".8s">
                        <p><a href="">ایمیل</a></p>
                    </div>
                    <div class="animate__animated animate__fadeIn wow" data-wow-delay="1s">
                        <p><a href="">فکس</a></p>
                    </div>
                </section>

                <section class="center_buttons">
                    <div>
                        <img src="{% static 'img/network.min.png' %}" alt="qrcode image">
                    </div>
                    <div class="button_wrapper"><a href="{% url 'doctor:doctors' %}">پزشکان</a></div>
                    <div class="button_wrapper"><a href="">پرسنل</a></div>
                    <div class="button_wrapper"><a href="{% url 'website:insurances' %}">بیمه‌های طرف قرارداد</a></div>
                </section>

            </div>

        </section>

        <div class="bottom_tringle"></div>

    </header>
    <!-- - header -->


    <!-- + content -->
    <main>

        <div class="stethoscope_div"></div>

        <article>

            <div class="corner__image corner__image--1"></div>
            <div class="corner__image corner__image--2"></div>
            <div class="corner__image corner__image--3"></div>

            <div class="search__header">
                <div class="line"></div>
                <div class="text">جستجو در بیمارستان</div>
                <div class="link"><a href="{% url 'website:gallery-vids' %}"><i class="fas fa-play"></i>&nbsp; تماشا ویدئو</a></div>
            </div>

            <div class="container_1">

                <div class="search__box">
                    <img src="{% static 'img/logo-dark.min.png' %}" alt="logo image">
    
                    <form>

                        <div class="inputs_wrapper">
                            <div class="inputs">
                                <input type="text" placeholder="پزشک">
                                <div class="line"></div>
                                <select>
                                    <option value="">پزشک</option>
                                    <option value="">دکتر ناصری</option>
                                    <option value="">دکتر ناصری</option>
                                    <option value="">دکتر ناصری</option>
                                </select>
                            </div>
                            <div class="selected_item">
                                <p>----</p>
                            </div>
                        </div>

                        <div class="vertical_line"></div>

                        <div class="inputs_wrapper">
                            <div class="inputs">
                                <input type="text" placeholder="تخصص">
                                <div class="line"></div>
                                <select>
                                    <option value="">تخصص</option>
                                    <option value="">دکتر ناصری</option>
                                    <option value="">دکتر ناصری</option>
                                    <option value="">دکتر ناصری</option>
                                </select>
                            </div>
                            <div class="selected_item">
                                <p>----</p>
                            </div>
                        </div>

                        <div class="vertical_line"></div>

                        <div class="inputs_wrapper">
                            <div class="inputs">
                                <input type="text" placeholder="کلینیک">
                                <div class="line"></div>
                                <select>
                                    <option value="">کلینیک</option>
                                    <option value="">دکتر ناصری</option>
                                    <option value="">دکتر ناصری</option>
                                    <option value="">دکتر ناصری</option>
                                </select>
                            </div>
                            <div class="selected_item">
                                <p>----</p>
                            </div>
                        </div>
                        
                        <div class="link">
                            <button type="submit">
                                <i class="fas fa-search"></i>&nbsp; جستجو
                            </button>
                        </div>
                    </form>
    
    
                </div>

                <div class="doctors__wrapper">

                    <div class="doctors__gallery">

                        <div class="div__next">
                            <div><i class="fa fa-chevron-right"></i></div>
                        </div>

                        <div class="gallery_image gallery_image--next" style="background-image: url({% static 'img/_doctor.min.png' %});">
                            <div class="gallery__info">
                                <div class="skill">متخصص مغز و اعصاب</div>
                                <div class="name">دکتر محسن سلامی</div>
                                <div class="counter">4/9</div>
                            </div>
                        </div>
                        <div class="gallery_image gallery_image--center" style="background-image: url({% static 'img/_doctor.min.png' %});">
                            <div class="gallery__info">
                                <div class="skill">متخصص مغز و اعصاب</div>
                                <div class="name">دکتر محسن سلامی</div>
                                <div class="counter">4/9</div>
                            </div>
                        </div>
                        <div class="gallery_image gallery_image--prev" style="background-image: url({% static 'img/_doctor.min.png' %});">
                            <div class="gallery__info">
                                <div class="skill">متخصص مغز و اعصاب</div>
                                <div class="name">دکتر محسن سلامی</div>
                                <div class="counter">4/9</div>
                            </div>
                        </div>

                        <div class="div__prev">
                            <div><i class="fa fa-chevron-left"></i></div>
                        </div>

                    </div>

                    <div class="gallery__more">
                        <div class="reservation">
                            <div class="line"></div>
                            <div>
                                <a id="doctor_hours_link" href="">ساعات حضور</a>
                            </div>
                        </div>
                        <div class="more_info">
                            <div>
                                <a id="doctor_info_link" href="">اطلاعات بیشتر</a>
                            </div>
                            <div class="line"></div>
                        </div>
                    </div>

                </div>

                <div class="three__elements">

                    <div class="one_element animate__animated animate__fadeInRight wow" data-wow-delay=".3s">
                        <img src="{% static 'img/hands.min.png' %}" alt="hands image">
                        <h1>کمک‌های مردمی</h1>
                        <h3>از خدمات بیمارستان ما</h3>
                        <p><a href="{% url 'contact:people-aids' %}">جهت کسب اطلاعات بیشتر کلیک کنید.</a></p>
                    </div>
                    
                    <div class="one_element animate__animated animate__fadeInUp wow" data-wow-delay=".5s">
                        <img src="{% static 'img/network.min.png' %}" alt="network image">
                        <h1>نوبت‌دهی آنلاین</h1>
                        <h3>از خدمات بیمارستان ما</h3>
                        <p><a href="{% url 'units:oa-categories' %}">جهت کسب اطلاعات بیشتر کلیک کنید.</a></p>
                    </div>

                    <div class="one_element animate__animated animate__fadeInLeft wow" data-wow-delay=".3s">
                        <img src="{% static 'img/graduation-cap.min.png' %}" alt="graduation-cap image">
                        <h1>آموزش</h1>
                        <h3>از خدمات بیمارستان ما</h3>
                        <p><a href="{% url 'website:patient-edu' %}">جهت کسب اطلاعات بیشتر کلیک کنید.</a></p>
                    </div>

                </div>
                
            </div>

            <div class="more__services">

                <div class="gallery__header">
                    خدمات بیشتر
                </div>

                <div class="gallery__services owl-carousel2 owl-carousel owl-theme owl-loaded owl-drag">
                    
                    <div class="gallery__item item">
                        <a href="">
                            <img src="{% static 'img/graduation-cap.min.png' %}" alt="">
                            <p>تصویربرداری</p>
                        </a>
                    </div>

                    <div class="gallery__item item">
                        <a href="">
                            <img src="{% static 'img/graduation-cap.min.png' %}" alt="">
                            <p>تصویربرداری</p>
                        </a>
                    </div>

                    <div class="gallery__item item">
                        <a href="">
                            <img src="{% static 'img/graduation-cap.min.png' %}" alt="">
                            <p>تصویربرداری</p>
                        </a>
                    </div>

                    <div class="gallery__item item">
                        <a href="">
                            <img src="{% static 'img/graduation-cap.min.png' %}" alt="">
                            <p>تصویربرداری</p>
                        </a>
                    </div>

                    <div class="gallery__item item">
                        <a href="">
                            <img src="{% static 'img/graduation-cap.min.png' %}" alt="">
                            <p>تصویربرداری</p>
                        </a>
                    </div>

                    <div class="gallery__item item">
                        <a href="">
                            <img src="{% static 'img/graduation-cap.min.png' %}" alt="">
                            <p>تصویربرداری</p>
                        </a>
                    </div>

                </div>

            </div>

            <div class="container_2">

                <div class="blogs__wrapper">

                    <div class="header">اخبار و رویدادها</div>

                    <div class="gallery__blogs owl-carousel3 owl-carousel owl-theme owl-loaded owl-drag">
    
                        <div class="gallery__item item">
                            <div class="blog__image" style="background-image: url({% static 'img/hands.min.png' %});">
                                <div class="blog__image__glass">
                                    <div class="blog__date">
                                        <div class="day">23</div>
                                        <div class="month_year">
                                            <div class="month">02</div>
                                            <div class="year">01</div>
                                        </div>
                                    </div>
                                    <div class="blog__human">
                                        27 روز پیش
                                    </div>
                                </div>
                            </div>
                            <div class="blog__header"><a href="">نوبت‌دهی بیمارستان</a></div>
                            <div class="blog__text">واکسیناسیون پرسنل کادر درمان بیمارستان موسی بن جعفر با عنایت پروردگار متعال انجام میشود. واکسیناسیون پرسنل کادر درمان بیمارستان موسی بن جعفر با عنایت پروردگار متعال انجام میشود. </div>
                            <div class="blog__link"><a href="">ادامه مطلب</a></div>
                        </div>
    
                        <div class="gallery__item item">
                            <div class="blog__image" style="background-image: url({% static 'img/hands.min.png' %});">
                                <div class="blog__image__glass">
                                    <div class="blog__date">
                                        <div class="day">23</div>
                                        <div class="month_year">
                                            <div class="month">02</div>
                                            <div class="year">01</div>
                                        </div>
                                    </div>
                                    <div class="blog__human">
                                        27 روز پیش
                                    </div>
                                </div>
                            </div>
                            <div class="blog__header"><a href="">نوبت‌دهی بیمارستان</a></div>
                            <div class="blog__text">واکسیناسیون پرسنل کادر درمان بیمارستان موسی بن جعفر با عنایت پروردگار متعال انجام میشود. واکسیناسیون پرسنل کادر درمان بیمارستان موسی بن جعفر با عنایت پروردگار متعال انجام میشود. </div>
                            <div class="blog__link"><a href="">ادامه مطلب</a></div>
                        </div>
    
                        <div class="gallery__item item">
                            <div class="blog__image" style="background-image: url({% static 'img/hands.min.png' %});">
                                <div class="blog__image__glass">
                                    <div class="blog__date">
                                        <div class="day">23</div>
                                        <div class="month_year">
                                            <div class="month">02</div>
                                            <div class="year">01</div>
                                        </div>
                                    </div>
                                    <div class="blog__human">
                                        27 روز پیش
                                    </div>
                                </div>
                            </div>
                            <div class="blog__header"><a href="">نوبت‌دهی بیمارستان</a></div>
                            <div class="blog__text">واکسیناسیون پرسنل کادر درمان بیمارستان موسی بن جعفر با عنایت پروردگار متعال انجام میشود. واکسیناسیون پرسنل کادر درمان بیمارستان موسی بن جعفر با عنایت پروردگار متعال انجام میشود. </div>
                            <div class="blog__link"><a href="">ادامه مطلب</a></div>
                        </div>
    
                        <div class="gallery__item item">
                            <div class="blog__image" style="background-image: url({% static 'img/hands.min.png' %});">
                                <div class="blog__image__glass">
                                    <div class="blog__date">
                                        <div class="day">23</div>
                                        <div class="month_year">
                                            <div class="month">02</div>
                                            <div class="year">01</div>
                                        </div>
                                    </div>
                                    <div class="blog__human">
                                        27 روز پیش
                                    </div>
                                </div>
                            </div>
                            <div class="blog__header"><a href="">نوبت‌دهی بیمارستان</a></div>
                            <div class="blog__text">واکسیناسیون پرسنل کادر درمان بیمارستان موسی بن جعفر با عنایت پروردگار متعال انجام میشود. واکسیناسیون پرسنل کادر درمان بیمارستان موسی بن جعفر با عنایت پروردگار متعال انجام میشود. </div>
                            <div class="blog__link"><a href="">ادامه مطلب</a></div>
                        </div>
    
    
                    </div>

                </div>

                <div class="map__wrapper">

                    <div class="textbox">
                        <h1>مسیرهای دسترسی به بیمارستان</h1>
                        <p>از طریق لینک زیر اقدام کنید</p>
                        <div><a href=""><i class="fas fa-map-marker"></i> مشاهده نقشه</a></div> 
                    </div>

                    <img src="{% static 'img/map.min.png' %}" alt="map image">

                </div>

                <div class="insurances_wrapper">

                    <div class="insurance__gallery owl-carousel4 owl-carousel owl-theme owl-loaded owl-drag">

                        <div class="insurance__item item">
                            <img src="{% static 'img/graduation-cap.min.png' %}" alt="">
                        </div>
                        <div class="insurance__item item">
                            <img src="{% static 'img/graduation-cap.min.png' %}" alt="">
                        </div>
                        <div class="insurance__item item">
                            <img src="{% static 'img/graduation-cap.min.png' %}" alt="">
                        </div>
                        <div class="insurance__item item">
                            <img src="{% static 'img/graduation-cap.min.png' %}" alt="">
                        </div>
                        <div class="insurance__item item">
                            <img src="{% static 'img/graduation-cap.min.png' %}" alt="">
                        </div>
                        <div class="insurance__item item">
                            <img src="{% static 'img/graduation-cap.min.png' %}" alt="">
                        </div>
                        <div class="insurance__item item">
                            <img src="{% static 'img/graduation-cap.min.png' %}" alt="">
                        </div>
                        <div class="insurance__item item">
                            <img src="{% static 'img/graduation-cap.min.png' %}" alt="">
                        </div>
                        <div class="insurance__item item">
                            <img src="{% static 'img/graduation-cap.min.png' %}" alt="">
                        </div>

                    </div>

                </div>

            </div>
            
        </article>

    </main>
    <!-- - content -->

{% endblock %}

{% block extraScript %}
<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}
