{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks web_tags %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

    {% doctor_notes as notes %}

    {% for note in notes %}
    <div class="alert alert-primary">{{ forloop.counter }}. {{ note.text }}</div>
    {% endfor %}

    <ul>
        <li><a href="{% url 'panel:home' %}">پنل کاربری</a></li>
        <li><a href="{% url 'website:oa-home' %}">نوبت دهی اینترنتی</a></li>
        <li><a href="{% url 'blog:blogs' %}">پست ها</a></li>
    </ul>

{% endblock %}

{% block extraScript %}

    <script>

        let host = window.location.host;
        let links = [
            
            [ /* panel */
                `${host}/${window.location.pathname[1]}${window.location.pathname[2]}/panel/`, [
                    'word1', 'word2', 'word3'
                ]
            ],

            [ /* panel */
                `${host}/${window.location.pathname[1]}${window.location.pathname[2]}/panel/`, [
                    'word1', 'word2', 'word3'
                ]
            ],


        ]

        console.log(links);
    </script>

{% endblock %}
