{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks web_tags %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

{% for cost in costs %}
<div class="alert alert-light text-primary d-flex">
    <div style="flex: 1;">{{ cost.title }}</div>
    <div style="flex: 1;">{{ cost.image.url }}</div>
    <div style="flex: 1;">{{ cost.year }}</div>
</div>
{% endfor %}

{% endblock %}