{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks web_tags %}
{% block title %}{% translate 'جستجو' %}{% endblock %}
{% block extraCss %}
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/other.css' %}">
{% endblock %}

{% block content %}

    {% include 'website/shared/_other_header.html' %}

    <!-- + content -->
    <main>

        <section class="page_title">
            <div class="line"></div>
            <div class="text">جستجو در بیمارستان</div>
        </section>

        <article>
            
            <div class="corner__image--top"></div>
            <div class="corner__image--bottom"></div>
            
            <section class="container">

                <form class="d-flex" method="GET" action="{% url 'website:search' %}">
                    <input type="text" name="query" oninput="search_query_txt()" id="querysearch" placeholder="جستجو کنید" class="text-center" style="flex: 5;">
                    <button class="btn btn-primary mx-1" type="submit" style="flex: 1;">جستجو</button>
                </form>
        
                <br>
        
                <h3>نمایش خروحی</h3>
                <p id="queryshow">عبارت جستجو شده ی شما: <span></span><br><b></b></p>
                
                <div id="wrapper-outputs"></div>

            </section>

        </article>

    </main>
    <!-- - content -->

{% endblock %}

{% block extraScript %}

<script>

    window.onload = function() {
        let searched = window.location.search;
        let query = searched.substring(7);
        if(query.includes('%')) {
            query = decodeURIComponent(query);
        }
        document.getElementById('querysearch').value = query;
        search_query_txt();
    };

    function search_query_txt() {

        let lang = `${window.location.pathname[1]}${window.location.pathname[2]}`;
        let baseUrl = '/' + lang;
        let query = document.getElementById('querysearch');
        let outputs = [];

        if(query.value.length >= 2)
            document.querySelector('#queryshow').classList.remove('d-none')
        else
            document.querySelector('#queryshow').classList.add('d-none')

        document.getElementById('wrapper-outputs').innerHTML = '';
        document.querySelector('#queryshow span').innerHTML = '';

        let links = [];

        if(lang == 'fa') {
            links = [
                
                [ //url: /fa/blog/list/ 
                    "{% url 'blog:blogs' %}", [
                        'لیست پست‌ها و بلاگ‌ها', 'پست‌های پزشکی', 'لایک و دیسلایک بلاگ', 'ارسال کامنت برای بلاگ', 'دسته‌بندی بلاگ‌ها و پست‌ها', 
                    ]
                ],

                [ //url: /fa/contact/careers/
                    "{% url 'contact:careers' %}", [
                        'همکاری باما', 'لیست پوزیشن‌ها و فرصت‌های شغلی', 'نیروهای مورد نیاز بیمارستان',  
                    ]
                ],

                [ //url: /fa/contact/suggestions/
                    "{% url 'contact:suggestions' %}", [
                        'ارسال انتقادات و پیشنهادات به بیمارستان', 
                    ]
                ],

                [ //url: /fa/contact/contactus/
                    "{% url 'contact:contactus' %}", [
                        'ارسال فرم ارتباط باما', 'ارسال پیام متنی',  
                    ]
                ],

                [ //url: /fa/contact/info/
                    "{% url 'contact:info' %}", [
                        'اطلاعات تماس بیمارستان',  
                    ]
                ],
                [ //url: /fa/contact/beneficiaries-comments/
                    "{% url 'contact:beneficiaries-comments' %}", [
                        'دیدگاه و نظرات خیرین و بنیانگذاران', 
                    ]
                ],
                [ //url: /fa/contact/patients-comments/
                    "{% url 'contact:patients-comments' %}", [
                        'دیدگاه و نظرات بیماران',   
                    ]
                ],
                [ //url: /fa/contact/people-aids/
                    "{% url 'contact:people-aids' %}", [
                        'کمک‌های مردمی',   
                    ]
                ],

                [ //url: /fa/doctor/list/
                    "{% url 'doctor:doctors' %}", [
                        'لیست پزشکان', 'لیست متخصصین و فوق تخصص‌ها', 'جستجوی پزشک', 
                    ]
                ],

                [ //url: /fa/ipd/phone/
                    "{% url 'ipd:enter-phone' %}", [
                        'فرم بیماران بین‌الملل', 
                    ]
                ],

                [ //url: /fa/ipd/services/
                    "{% url 'ipd:services' %}", [
                        'خدمات بیماران بین‌الملل', 
                    ]
                ],

                [ //url: /fa/ipd/contact/
                    "{% url 'ipd:contact' %}", [
                        'اطلاعات تماس با واحد بیماران بین‌الملل', 
                    ]
                ],

                [ //url: /fa/ipd/doctors/
                    "{% url 'ipd:doctors' %}", [
                        'پزشکان مربوط به بخش بیماران بین‌الملل',  
                    ]
                ],

                [ //url: /fa/ipd/prices/
                    "{% url 'ipd:prices' %}", [
                        'تعرفه‌های بخش بیماران بین‌الملل',  
                    ]
                ],

                [ //url: /fa/ipd/chart/
                    "{% url 'ipd:chart' %}", [
                        'چارت و منشور بیماران بین‌الملل',  
                    ]
                ],

                [ //url: /fa/news/list/
                    "{% url 'news:news' %}", [
                        'لیست اخبار', 'لایک و دیسلایک خبر', 'ارسال کامنت برای خبر', 'دسته‌بندی اخبار', 
                    ]
                ],

                [ //url: /fa/electronic/appointment/turn/
                    "{% url 'units:oa-followupturn' %}", [
                        'بررسی و پیگیری نوبت اینترنتی', 
                    ]
                ],
                
                [ //url: /fa/electronic/appointment/result/
                    "{% url 'units:oa-followupresult' %}", [
                        'بررسی و پیگیری نتیجه‌ی آزمایش و تصویربرداری',   
                    ]
                ],

                [ //url: /fa/electronic/appointment/
                    "{% url 'units:oa-home' %}", [
                        'ارائه‌ی خدمات اینترنتی', 'نوبت‌دهی و رزور اینترنتی', 
                    ]
                ],

                [ //url: /fa/
                    "{% url 'website:home' %}", [
                        'خانه، صفحه‌ی ایندکس بیمارستان', 
                    ]
                ],

                [ //url: /fa/about-us/
                    "{% url 'website:aboutus' %}", [
                        'درباره‌ی ما', 'چرا ما', 
                    ],
                ],

                [ //url: /fa/history/
                    "{% url 'website:history' %}", [
                        'تاریخچه‌ی بیمارستان', 'گذشته‌ی بیمارستان', 
                    ],
                ],

                [ //url: /fa/workshops/
                    "{% url 'website:workshops' %}", [
                        'کارگاه‌ها و دوره‌های آموزشی', 
                    ],
                ],

                [ //url: /fa/certificates/
                    "{% url 'website:certificates' %}", [
                        'گواهینامه‌های بیمارستان', 
                    ],
                ],

                [ //url: /fa/gallery/images/
                    "{% url 'website:gallery-imgs' %}", [
                        'گالری تصاویر بیمارستان', 
                    ],
                ],

                [ //url: /fa/gallery/videos/
                    "{% url 'website:gallery-vids' %}", [
                        'گالری ویدئوهای بیمارستان', 
                    ],
                ],

                [ //url: /fa/policies/
                    "{% url 'website:policies' %}", [
                        'سیاست‌های بیمارستان', 
                    ],
                ],

                [ //url: /fa/board-of-directors/
                    "{% url 'website:board-of-directors' %}", [
                        'هیئت مدیره', 
                    ],
                ],

                [ //url: /fa/ceo-management/
                    "{% url 'website:ceo-management' %}", [
                        'مدیرعامل و گروه مدیریت', 
                    ],
                ],

                [ //url: /fa/chart/
                    "{% url 'website:chart' %}", [
                        'چارت و منشور بیمارستان', 
                    ],
                ],

                [ //url: /fa/results/
                    "{% url 'website:results' %}", [
                        'دستاوردها و افتخارات بیمارستان', 
                    ],
                ],

                [ //url: /fa/perspective/
                    "{% url 'website:perspective' %}", [
                        'ارزش‌های بیمارستان', 
                    ],
                ],

                [ //url: /fa/visiting-famous-faces/
                    "{% url 'website:visiting-famous' %}", [
                        'چهره‌های سرشناس مراجعه کننده',  
                    ],
                ],

                [ //url: /fa/patient/chart/
                    "{% url 'website:patient-chart' %}", [
                        'چارت و منشور بیماران',  
                    ],
                ],

                [ //url: /fa/patient/edu/
                    "{% url 'website:patient-edu' %}", [
                        'آموزش بیماران', 'پمفلت‌های آموزشی', 
                    ],
                ],

                [ //url: /fa/committees/
                    "{% url 'website:committees' %}", [
                        'کمیته‌های بیمارستان',  
                    ],
                ],

                [ //url: /fa/credit/
                    "{% url 'website:credit' %}", [
                        'اعتباربخشی‌',  
                    ],
                ],

                [ //url: /fa/quality-improvement/
                    "{% url 'website:quality-improvement' %}", [
                        'واحد بهبود کیفیت بیمارستان',  
                    ],
                ],

                [ //url: /fa/deceaseds/
                    "{% url 'website:deceaseds' %}", [
                        'گذشتگان بیمارستان',  
                    ],
                ],

                [ //url: /fa/benefactors/
                    "{% url 'website:benefactors' %}", [
                        'خیرین و نیکوکاران بیمارستان',  
                    ],
                ],

                [ //url: /fa/facility/
                    "{% url 'website:facility' %}", [
                        'امکانات رفاهی بیمارستان',  
                    ],
                ],

                [ //url: /fa/reports/
                    "{% url 'website:reports' %}", [
                        'گزارش‌ عملکرد بیمارستان',  
                    ],
                ],

                [ //url: /fa/clinic/program/
                    "{% url 'website:clinic-program' %}", [
                        'برنامه‌ی کلینیک‌ها و پزشکان',  
                    ],
                ],

                [ //url: /fa/prices/
                    "{% url 'website:prices' %}", [
                        'لیست انواع تعرفه‌های بیمارستان',  
                    ],
                ],

                [ //url: /fa/prices/bed/
                    "{% url 'website:prices-bed' %}", [
                        'تعرفه‌‌ی تخت‌ها بیمارستان',  
                    ],
                ],

                [ //url: /fa/prices/services/
                    "{% url 'website:prices-services' %}", [
                        'تعرفه‌ی خدمات بیمارستان', 
                    ],
                ],

                [ //url: /fa/prices/surgray/
                    "{% url 'website:prices-surgray' %}", [
                        'تعرفه‌ی عمل‌های جراحی بیمارستان',  
                    ],
                ],

                [ //url: /fa/insurances/
                    "{% url 'website:insurances' %}", [
                        'بیمه‌های طرف قرارداد بیمارستان',  
                    ],
                ],

                [ //url: /fa/phones/
                    "{% url 'website:phones' %}", [
                        'تلفن‌ها',  
                    ],
                ],

                [ //url: /fa/visitors-guide/
                    "{% url 'website:visitors-guide' %}", [
                        'راهنمایی ملاقات‌کنندگان', 
                    ],
                ],

                [ //url: /fa/unit/clinic/list/
                    "{% url 'website:clinic-list' %}", [
                        'لیست کلینیک‌های بیمارستان',  
                    ],
                ],

                [ //url: /fa/unit/operating-room/list/
                    "{% url 'website:operatingroom-list' %}", [
                        'لیست اتاق‌ عمل‌های بیمارستان',  
                    ],
                ],

                [ //url: /fa/unit/official/list/
                    "{% url 'website:official-list' %}", [
                        'لیست بخش‌های اداری و خدماتی بیمارستان',  
                    ],
                ],

                [ //url: /fa/unit/paraclinic/list/
                    "{% url 'website:paraclinic-list' %}", [
                        'لیست پاراکلینیک‌های بیمارستان',  
                    ],
                ],

                [ //url: /fa/unit/medical/list/
                    "{% url 'website:medical-list' %}", [
                        'لیست بخش‌های درمانی بیمارستان',  
                    ],
                ],


            ]
        }

        else if(lang == 'en') {
            links = [
                
                // here

            ]
        }

        else if(lang == 'ar') {
            links = [
                
                // here

            ]
        }

        else if(lang == 'ru') {
            links = [
                
                // here

            ]
        }

        links.forEach(link => {
            link[1].forEach(item => {
                
                if(item.includes(query.value) && query.value.length >= 2){
                    outputs.push([item, link[0]]);
                    document.querySelector('#queryshow span').innerHTML = query.value;
                }
                
            });
        });

        document.querySelector('#queryshow b').innerHTML = `نتیجه(${outputs.length})`;

        outputs.forEach(element => {
            document.getElementById('wrapper-outputs').innerHTML += `<div class="alert alert-light text-primary div-outputs"><a target="_blank" href="${element[1]}">${element[0]}</a><br>${element[1]}</div>`;
        });
    }

</script>
{% endblock %}
