{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'home' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/auth.css' %}" media="screen and (min-width: 801px)">
<link rel="stylesheet" href="{% static 'css/responsive/auth-res.css' %}" media="screen and (max-width: 800px)">
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;">

    <div style="flex: 1; padding: 1rem; border: 1px solid red; margin: 1rem;">
        <ul>

            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; border: 1px solid blue; margin: 1rem;">

        <h1>Home</h1>

        <form method="POST" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            
            <div class="box">
                <p>{{ form.firstname.label_tag }}</p>
                {{ form.firstname }}
                {% for msg in form.firstname.errors %}
                <p style="color: red;">{{ msg }}</p>
                {% endfor %}
    
                <p>{{ form.lastname.label_tag }}</p>
                {{ form.lastname }}
                {% for msg in form.lastname.errors %}
                <p style="color: red;">{{ msg }}</p>
                {% endfor %}
    
    
                <p>{{ form.email.label_tag }}</p>
                {{ form.email }}
                {% for msg in form.email.errors %}
                <p style="color: red;">{{ msg }}</p>
                {% endfor %}
    
    
                <p>{{ form.profile.label_tag }}</p>
                {{ form.profile }}
                {% for msg in form.profile.errors %}
                <p style="color: red;">{{ msg }}</p>
                {% endfor %}
            </div>

            <button type="submit">Update</button>
        </form>

    </div>

</div>

{% endblock %}