{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'home' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/auth.css' %}" media="screen and (min-width: 801px)">
<link rel="stylesheet" href="{% static 'css/responsive/auth-res.css' %}" media="screen and (max-width: 800px)">
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;">

    <div style="flex: 1; padding: 1rem 0; border: 1px solid #ccc; margin: 0.3rem; border-radius: 7px;" class="bg-light">
        <ul>

            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; margin: 0.3rem;">

        <h1>تغییر اطلاعات</h1>

        <form method="POST" novalidate enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ form.as_p }}
            
            <label>نام</label>
            <input type="text" name="firstname_fa" value="{{ firstname_fa }}"><br><br>

            <label>نام</label>
            <input type="text" name="firstname_en" value="{{ firstname_en }}"><br><br>

            <label>نام</label>
            <input type="text" name="firstname_ar" value="{{ firstname_ar }}"><br><br>

            <label>نام</label>
            <input type="text" name="firstname_ru" value="{{ firstname_ru }}"><br><br>

            <label>نام خانوادگی</label>
            <input type="text" name="lastname_fa" value="{{ lastname_fa }}"><br><br>

            <label>نام خانوادگی</label>
            <input type="text" name="lastname_en" value="{{ lastname_en }}"><br><br>

            <label>نام خانوادگی</label>
            <input type="text" name="lastname_ar" value="{{ lastname_ar }}"><br><br>

            <label>نام خانوادگی</label>
            <input type="text" name="lastname_ru" value="{{ lastname_ru }}"><br><br>

            <button type="submit">بروزرسانی</button>
        </form>

    </div>

</div>

{% endblock %}