{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'home' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/auth.css' %}" media="screen and (min-width: 801px)">
<link rel="stylesheet" href="{% static 'css/responsive/auth-res.css' %}" media="screen and (max-width: 800px)">
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;">

    <div style="flex: 1; padding: 1rem; border: 1px solid red; margin: 1rem;">
        <ul>

            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; border: 1px solid blue; margin: 1rem;">

        <h1>Home</h1>

        <div style="text-align: center;">
            {% if request.user.profile %}<img src="{{ request.user.profile.url }}" style="height: 50px; width: 50px;" alt="">{% endif %}
            <p>username: {{ request.user.username }}</p>
            <p>first_name: {{ request.user.first_name }}</p>
            <p>last_name: {{ request.user.last_name }}</p>
            <p>phone: {{ request.user.phone }}</p>
            <p>email: {{ request.user.email }}</p>
            <p>gender: {{ request.user.gender }}</p>
            <p>age: {{ request.user.age }}</p>
        </div>

    </div>

</div>

{% endblock %}