{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks panel_tags %}
{% block title %}{% translate 'home' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}


{% block content %}

{% get_user_notif request.user as notifications %}

{% for notification in notifications %}
    <div class="alert alert-light text-primary">
        <h3 title="title">{{ notification.title }}</h3>
        <p title="description">{{ notification.description }}</p>
        <p><a href="{% url 'panel:read-notif' notification.id %}?route={{ request.path }}">خواندن</a></p>
    </div>
{% endfor %}

<div style="display: flex; direction: rtl !important;">

    <div style="flex: 1; padding: 1rem 0; border: 1px solid #ccc; margin: 0.3rem; border-radius: 7px;" class="bg-light">
        <ul>

            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; margin: 0.3rem;">

        <h1>خانه</h1>

        <div style="text-align: center;">
            {% if request.user.profile %}<img src="{{ request.user.profile.url }}" style="height: 50px; width: 50px;" alt="">{% endif %}
            <p>کدملی: <span class="text-primary">{{ request.user.username }}</span></p>
            <p>نام: <span class="text-primary">{{ request.user.firstname }}</span></p>
            <p>نام خانوادگی: <span class="text-primary">{{ request.user.lastname }}</span></p>
            <p>شماره تلفن:<span class="text-primary">{{ request.user.phone }}</span></p>
            <p>ایمیل: <span class="text-primary">{{ request.user.email }}</span></p>
            <p>جنسیت: <span class="text-primary">{{ request.user.gender }}</span></p>
            <p>سن:<span class="text-primary">{{ request.user.age }}</span></p>
        </div>

    </div>

</div>

{% endblock %}