{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks panel_tags %}
{% block title %}{% translate 'reset-password' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/auth.css' %}" media="screen and (min-width: 801px)">
<link rel="stylesheet" href="{% static 'css/responsive/auth-res.css' %}" media="screen and (max-width: 800px)">
{% endblock %}


{% block content %}
{% get_user_labels request.user as user_label %}

<h3>{{ user_label }}</h3>

<div style="display: flex; direction: rtl !important;">

    <div style="flex: 1; padding: 1rem; border: 1px solid red; margin: 1rem;">
        <ul>
            <h3>Panels</h3>
            <li {% if not user_label.is_supporter %}style="display: none;"{% endif %}><a href="">supporter</a></li>
            <!-- <li><a href="">admission admin</a></li> -->
            <li {% if not user_label.is_contentproducer %}style="display: none;"{% endif %}><a href="">content pro</a></li>
            <li {% if not user_label.is_doctor %}style="display: none;"{% endif %}><a href="">doctor</a></li>
            
            <hr>
            <h3>Real</h3>
            <li><a href="{% url 'panel:online-appointment' %}">نوبتدهی اینترنتی</a></li>
            <li><a href="{% url 'panel:activate-account' %}">فعالسازی حساب کاربری</a></li>
            <li><a href="{% url 'panel:edit-info' %}">ویرایش اطلاعات</a></li>
            <li><a href="{% url 'panel:reset-password' %}">تغییر رمز عبور</a></li>
            <li><a href="{% url 'auth:signout' %}">exit</a></li>

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; border: 1px solid blue; margin: 1rem;">

    </div>

</div>

{% endblock %}