{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

    <h1>Online Appointment - <span style="color: red;">Home > Categories</span></h1>

    {% for unit in units %}
        <div class="box">
            <div>
                {% if unit.unit.icon %}<img src="{{ unit.unit.icon.url }}" style="height: 50px; width: 50px;" alt="">{% endif %}
                {% if unit.category_slug %}
                <a href="{% url 'website:oa-unit' unit.category_slug %}">{{ unit.subunit.title }}</a>
                {% else %}
                <a href="{% url 'website:oa-unit' 'doctors' %}">پزشکان</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}


{% endblock %}

