{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

    <h1>Online Appointment - <span style="color: red;">Home > Categories</span></h1>

    <div class="box">
        <a href="">clinic</a>
    </div>
    
    <div class="box">
        <a href="{% url 'website:el-oa-lab' %}">lab</a>
    </div>

    <div class="box">
        <a href="{% url 'website:el-oa-imaging' %}">imaging</a>
    </div>

    <div class="box">
        <a href="{% url 'website:el-oa-doctors' %}">doctors</a>
    </div>

{% endblock %}

