{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

    <h1>Online Appointment - <span style="color: red;">Home > {{ header }}</span></h1>

    <ul>
        <li><a href="?type=all">همه</a></li>
        <li><a href="?type=expert">متخصص</a></li>
        <li><a href="?type=specialty">فوق تخصص</a></li>
        <li><a href="?type=fellowship">فلوشیپ</a></li>
    </ul>

    {% for doctor in doctors %}
    <div class="box">
        <div>{{ doctor.user.firstname }} {{ doctor.user.lastname }}</div>
        <div>{{ doctor.skill_title.title }}</div>
        <div>{{ doctor.degree.title }}</div>
        <div><a href="{% url 'website:oa-phone' unitSlug doctor.id %}">view</a></div>
    </div>
    {% endfor %}

{% endblock %}

