{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

    <h1>نوبت دهی اینترنتی - <span style="color: red;">خانه > وارد کردن شماره > وارد کردن کد</span></h1>

    <form method="POST" novalidate autocomplete="off">
        {% csrf_token %}

        {{ form.as_p }}
        
        <button type="submit">ادامه</button>
    </form>

{% endblock %}

