{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

    <h1>نوبت دهی اینترنتی - <span style="color: red;">پیگیری نوبت</span></h1>

    {% if not turn %}

    <form method="POST" novalidate>
        {% csrf_token %}

        {{ form.phone.label_tag }}
        {{ form.phone }}
        {% for msg in form.phone.errors %}
        <p style="color: red;">{{ msg }}</p>
        {% endfor %}

        {{ form.code.label_tag }}
        {{ form.code }}
        {% for msg in form.code.errors %}
        <p style="color: red;">{{ msg }}</p>
        {% endfor %}

        <button type="submit">click</button>
    </form>

    {% else %}
    <div class="alert alert-light text-primary d-flex">

        <div style="flex: 1;" title="code">{{ turn.code }}</div>
        <div style="flex: 1;" title="patient">{{ turn.patient }}</div>
        <div style="flex: 1;" title="appointment">{{ turn.appointment }}</div>
        <div style="flex: 1;" title="insurance">{{ turn.insurance }}</div>
        <div style="flex: 1;" title="price">{{ turn.price }}</div>
        <div style="flex: 1;" title="prescription_code">{{ turn.prescription_code }}</div>
        <div style="flex: 1;" title="experiment_code">{{ turn.experiment_code }}</div>
        <div style="flex: 1;" title="turn">{{ turn.turn }}</div>
        <div style="flex: 1;" title="is_paid">{{ turn.is_paid }}</div>
        <div style="flex: 1;" title="is_canceled">{{ turn.is_canceled }}</div>
        <div style="flex: 1;" title="is_returned">{{ turn.is_returned }}</div>
        <div style="flex: 1;" title="created">{{ turn.created }}</div>
    </div>

    {% endif %}

    {% if msg %}
    <p>{{ msg }}</p>
    {% endif %}

{% endblock %}

