{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

    <h1>Online Appointment - <span style="color: red;">Home > Doctor > Calendar > Add INFO</span></h1>

    <h1>appointment:</h1>
    <p title="doctor">{{ appointment.doctor }}</p>
    <p title="degree">{{ appointment.doctor.degree }}</p>
    <p title="date">{{ appointment.date }}</p>
    <p title="day">{{ appointment.day }}</p>
    <p title="time_from">{{ appointment.time_from }}</p>
    <p title="time_to">{{ appointment.time_to }}</p>
    <p title="insurances">{% for insurance in appointment.insurances.all %}{{ insurance.title }} - {% endfor %}</p>

    <form method="POST" novalidate>
        {% csrf_token %}

        <div class="box">

            <p>insurances:</p>
            <select name="insurance">
                <option value="free" selected>Free</option>
                {% for insurance in insurances %}
                <option value="{{ insurance.title }}">{{ insurance.title }}</option>
                {% endfor %}
            </select>

            <br>
            
            {{ form.prescription_code.label_tag }}
            {{ form.prescription_code }}
            {% for err in form.prescription_code.errors %}
            <p style="color: red;">{{ msg }}</p>
            {% endfor %}

            <br>
            
            {{ form.experiment_code.label_tag }}
            {{ form.experiment_code }}
            {% for err in form.experiment_code.errors %}
            <p style="color: red;">{{ msg }}</p>
            {% endfor %}

            <br>

        </div>

        {% if have_folder %}
        <h3>پرونده ی شما لود شد</h3>
        {% else %}
        <h3>اطلاعات خود را وارد کنید</h3>
        {% endif %}
        
        <div class="box">
            {{ form.username.label_tag }}
            {{ form.username }}
            {% for err in form.username.errors %}
                <p style="color: red;">{{ err }}</p>
            {% endfor %}

            <br>

            {{ form.first_name.label_tag }}
            {{ form.first_name }}
            {% for err in form.first_name.errors %}
                <p style="color: red;">{{ err }}</p>
            {% endfor %}

            <br>

            {{ form.last_name.label_tag }}
            {{ form.last_name }}
            {% for err in form.last_name.errors %}
                <p style="color: red;">{{ err }}</p>
            {% endfor %}

            <br>

            {{ form.gender.label_tag }}
            {{ form.gender }}
            {% for err in form.gender.errors %}
                <p style="color: red;">{{ err }}</p>
            {% endfor %}

            <br>

            {{ form.age.label_tag }}
            {{ form.age }}
            {% for err in form.age.errors %}
                <p style="color: red;">{{ err }}</p>
            {% endfor %}


        </div>



        <button type="submit">next</button>
        <a href="{% url 'website:el-oa-calendar' appointment.doctor.medical_code uidb64 token %}" type="button">previous</a>
    </form>

{% endblock %}

