{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks jalali_tags %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;">

    <div style="flex: 1; padding: 1rem; border: 1px solid red; margin: 1rem;">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; border: 1px solid yellow; margin: 1rem;">

        <h1>doctor panel - insurances</h1>

        <form method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            
            <select name="insurances" multiple>
                {% for insurance in insurances %}
                <option value="{{insurance.id}}" {% if insurance in doctor.insurances.all %}selected{% endif %}>{{ insurance.title }}</option>
                {% endfor %}
            </select>

            <button type="submit">send</button>
        </form>

        <h1>your insurances: {% for insurance in doctor.insurances.all %}{{ insurance.title }} - {% endfor %}</h1>
        <h2>all of insurances that hospital is in contract</h2>

        {% for insurance in insurances %}
        <div class="box">
            <div title="title">{{ insurance.title }}</div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}