{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks jalali_tags %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;">

    <div style="flex: 1; padding: 1rem 0; border: 1px solid #ccc; margin: 0.3rem; border-radius: 7px;" class="bg-light">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; margin: 0.3rem;">

        <h1>بیمه های طرف قرارداد من</h1>

        <form method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            
            {% for insurance in insurances %}
            <input type="checkbox" name="insurances" class="mx-3" value="{{ insurance.id }}" {% if insurance in doctor.insurances.all %}checked{% endif %}>{{ insurance.title }}</input>
            {% endfor %}
            <br><br>
            <button type="submit">ارسال</button>
        </form>

        <h2>بیمه های شما:</h2>
        {% for insurance in doctor.insurances.all %}
        <div class="text-primary alert alert-light text-center">{{ insurance.title }}</div>
        {% endfor %}
        
        <br><br>
        <h2>بیمه های طرف قرارداد بیمارستان:</h2> 

        {% for insurance in insurances %}
        <div class="box">
            <div class="alert alert-light text-center" title="title">{{ insurance.title }}</div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}