{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks jalali_tags %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% endblock %}


{% block content %}


<div style="display: flex; direction: rtl !important;">

    <div style="flex: 1; padding: 1rem 0; border: 1px solid #ccc; margin: 0.3rem; border-radius: 7px;" class="bg-light">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; margin: 0.3rem;">

        <h1>ثبت مرخصی</h1>

        <form method="POST" enctype="multipart/form-data" novalidate autocomplete="off">
            {% csrf_token %}
            
            <p>{{ form.from_date.label_tag }}</p>
            {{ form.from_date }}
            {% for msg in form.from_date.errors %}
            <p style="color: red;">{{ msg }}</p>
            {% endfor %}
            
            <p>{{ form.to_date.label_tag }}</p>
            {{ form.to_date }}
            {% for msg in form.to_date.errors %}
            <p style="color: red;">{{ msg }}</p>
            {% endfor %}

            <p>{{ form.from_time.label_tag }}</p>
            {{ form.from_time }}
            {% for msg in form.from_time.errors %}
            <p style="color: red;">{{ msg }}</p>
            {% endfor %}

            <p>{{ form.to_time.label_tag }}</p>
            {{ form.to_time }}
            {% for msg in form.to_time.errors %}
            <p style="color: red;">{{ msg }}</p>
            {% endfor %}

            <br><br>
            <button type="submit">ارسال</button>
        </form>


        {% for vacation in vacations %}
        <div class="alert alert-light text-primary d-flex mt-3">
            <div style="flex: 1;" title="from_date">{{ vacation.from_date|to_jalali }}</div>
            <div style="flex: 1;" title="to_date">{{ vacation.to_date|to_jalali }}</div>
            <div style="flex: 1;" title="from_time">{{ vacation.from_time }}</div>
            <div style="flex: 1;" title="to_time">{{ vacation.to_time }}</div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}