{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks jalali_tags %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

    <h1>Online Appointment - <span style="color: red;">Home > Doctor > Calendar > Info > Details > Trust</span></h1>

    <h1>Rules</h1>
    <p>{{ limit_time }}</p>
    
    <h1>tips</h1>
    <p>{{ tips }}</p>

    <form method="POST" novalidate>
        {% csrf_token %}

        {{ form.check_rules.label_tag }}
        {{ form.check_rules }}
        {% for err in form.check_rules.errors %}
            <p style="color: red;">{{ err }}</p>
        {% endfor %}

        <button type="submit">Continue</button>
    </form>

{% endblock %}

