{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/auth.css' %}" media="screen and (min-width: 801px)">
<link rel="stylesheet" href="{% static 'css/responsive/auth-res.css' %}" media="screen and (max-width: 800px)">
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;">

    <div style="flex: 1; padding: 1rem 0; border: 1px solid #ccc; margin: 0.3rem; border-radius: 7px;" class="bg-light">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; margin: 0.3rem;">
        
        <h1>اطلاعات پزشک</h1>

        <h3>بیمه ها</h3>
        <div class="alert alert-light" title="insurances">{% for insurance in doctor.insurances.all %}{{ insurance.title }} - {% endfor %}</div>


        <h3>اطلاعات</h3>
        <div class="alert alert-light text-primary">
            <div title="medical_code">medical_code: {{ doctor.medical_code }}</div>
            <div title="skill_title">skill_title: {{ doctor.skill_title }}</div>
            <div title="user">user: {{ doctor.user }}</div>
            <div title="unit">unit: {{ doctor.unit }}</div>
            <div title="degree">degree: {{ doctor.degree }}</div>
            <div title="is_public">is_public: {{ doctor.is_public }}</div>
            <div title="is_clinic">is_clinic: {{ doctor.is_clinic }}</div>
            <div title="is_active">is_active: {{ doctor.is_active }}</div>
        </div>

        <h3>زمان کاری</h3>

        {% for work in works %}
        <div class="alert alert-light text-primary">
            <div title="day_from">{{ work.day_from }}</div>
            <div title="day_to">{{ work.day_to }}</div>
            <div title="time_from">{{ work.time_from }}</div>
            <div title="time_to">{{ work.time_to }}</div>
        </div>
        {% endfor %}

        <h3>زمان مرخصی</h3>
        {% for vacation in vacations %}
        <div class="alert alert-light text-primary">
            <div title="from_date">{{ vacation.from_date }}</div>
            <div title="to_date">{{ vacation.to_date }}</div>
            <div title="from_time">{{ vacation.from_time }}</div>
            <div title="to_time">{{ vacation.to_time }}</div>
            {% if not vacation.is_accepted %}<div><a href="?vid={{ vacation.id }}">بررسی شد?</a></div>{% endif %}
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}
