{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/auth.css' %}" media="screen and (min-width: 801px)">
<link rel="stylesheet" href="{% static 'css/responsive/auth-res.css' %}" media="screen and (max-width: 800px)">
{% endblock %}


{% block content %}

<div id="username" class="d-non">{{ request.user.username }}</div>
<div id="token" class="d-non"></div>

<div style="display: flex; direction: rtl !important;" id="application">

    <div style="flex: 1; padding: 1rem; border: 1px solid red; margin: 1rem;">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; border: 1px solid blue; margin: 1rem;">
        
        <div v-if="msg">[[ msg ]]</div>
        <ul class="box" v-if="errors.length >= 1">
            <li v-for="error in errors">[[ error ]]</li>
        </ul>

        <h1>Online Appointment - doctors</h1>

        <div class="box" v-for="doctor in doctors" :key="doctor.medical_code"> 
            <div title="have_not_accecpted_vacataion">[[ doctor.have_not_accecpted_vac ]]</div>
            <div title="medical_code">[[ doctor.medical_code ]]</div>
            <div title="skill_title">[[ doctor.skill_title ]]</div>
            <div title="user">[[ doctor.user ]]</div>
            <div title="unit">[[ doctor.unit ]]</div>
            <div title="degree">[[ doctor.degree ]]</div>
            <div title="is_public">[[ doctor.is_public ]]</div>
            <div title="is_clinic">[[ doctor.is_clinic ]]</div>
            <div title="is_active">[[ doctor.is_active ]]</div>
            <div><button @click="get_doctor_times(doctor.medical_code)">times</button></div>
        </div>

        <div class="box" v-show="vacations.length > 0">
            <div v-for="vacation in vacations" :key="vacation">[[ vacation ]]</div>
        </div>
        <div class="box" v-show="works.length > 0">
            <div v-for="work in works" :key="work">[[ work ]]</div>
        </div>

    </div>

</div>

{% endblock %}


    
{% block extraScript %}
<script type="text/javascript" src="{% static 'js/vue3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/axios.min.js' %}"></script>

<script>

    Vue.createApp({

        delimiters: ["[[", "]]"],

        data() {
            return {

                doctors: [],
                works: [],
                vacations: [],

                msg: '',
                errors: [],
            }
        },

        mounted() {
            this.get_user_auth();
        },

        methods: {

            async get_doctor_times(medical_code){

                this.works = [];
                this.vacations = []; 
                
                let token = document.getElementById('token');
                let formdata = new FormData();
                formdata.append('code', medical_code);

                axios.post(
                    '/' + window.location.pathname[1] + window.location.pathname[2] + '/api/v1/online-appointment/doctor/list/',
                    formdata,
                    {    
                        headers: {
                            'Authorization': `Token ${token.innerText}`,
                            'Content-type': 'application/json'
                        }
                    }
                )
                .then((response) => {
                    if(response.status == 200) {
                        this.works = response.data.works;
                        this.vacations = response.data.vacations;
                    }
                })
                .catch(err => {
                    console.log('ERR: ', err);
                });

            },


            async get_doctors(medical_code){

                let token = document.getElementById('token');

                axios.get(
                    '/' + window.location.pathname[1] + window.location.pathname[2] + '/api/v1/online-appointment/doctor/list/',
                    {    
                        headers: {
                            'Authorization': `Token ${token.innerText}`,
                            'Content-type': 'application/json'
                        }
                    }
                )
                .then((response) => {
                    if(response.status == 200) {
                        this.doctors = response.data.data;
                    }
                })
                .catch(err => {
                    console.log('ERR: ', err);
                });

            },

            async get_user_auth() {

                let username = document.getElementById('username');
                let token = document.getElementById('token');

                let formdata = new FormData();
                formdata.append('username', username.innerText);
                formdata.append('password', username.innerText * 2);

                axios.post(
                    '/' + window.location.pathname[1] + window.location.pathname[2] + '/api/v1/user/get/token/',
                    formdata,
                    {    
                        headers: {
                            'Content-type': 'application/x-www-form-urlencoded'
                        }
                    }
                )
                .then((response) => {
                    if(response.status == 200) {
                        token.innerText = response.data.token;
                        this.get_doctors();
                    }
                });

            },
        }

    }).mount('#application');

</script>
{% endblock %}
