{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks jalali_tags %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;">

    <div style="flex: 1; padding: 1rem 0; border: 1px solid #ccc; margin: 0.3rem; border-radius: 7px;" class="bg-light">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; margin: 0.3rem;">

        <h1>ویرایش نوبت دهی</h1>

        <form method="POST" enctype="multipart/form-data" novalidate>
            {% csrf_token %}

            <label for="unititem">بخش</label>
            <select name="unit" id="unititem">
                <option value="doctors">پزشکان</option>
                {% for unit in units %}
                <option value="{{ unit.id }}" {% if appointment.unit == unit %}selected{% endif %}>{{ unit }}</option>
                {% endfor %}
            </select>
                 
            <br><br>
            <div>
                <p>بیمه های " {{ appointment.doctor.get_full_name }} " عبارت است از:</p>
                <div class="alert alert-light"> {% for item in appointment.doctor.insurances.all %}{{ item.title }} - {% endfor %}</div>

                {% for insurance in insurances %}
                <div class="customform">
                    <input type="checkbox" name="insurances" value="{{ insurance.id }}" id="{{ insurance.id }}" {% if insurance in appointment.insurances.all %}checked{% endif %}>
                    <label for="{{ insurance.id }}" >{{ insurance.title }}</label>
                </div>
                {% endfor %}

            </div>

            {{ form.as_p }}
            
            <br><br>
            <button type="submit">بروزرسانی</button>
        </form>

    </div>

</div>

{% endblock %}
