{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;" id="application">

    <div style="flex: 1; padding: 1rem; border: 1px solid red; margin: 1rem;">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; border: 1px solid blue; margin: 1rem;">

        <h1>Online Appointment - eturns check</h1>

        <h1>patient</h1>
        <div class="box">
            <div>{{ turn.patient.get_full_name }}</div>
            <div>{{ turn.patient.phone }}</div>
            <div>{{ turn.patient.gender }}</div>
            <div>{{ turn.patient.age }}</div>
            <div title="experiment_code">{{ turn.experiment_code }}</div>
        </div>

        <form novalidate method="POST">
            {% csrf_token %}

            <p>{{ form.doctor.label_tag }}</p>
            {{ form.doctor }}
            {% for msg in form.doctor.errors %}
            <p style="color: red;">{{ msg }}</p>
            {% endfor %}

            <p>{{ form.unit.label_tag }}</p>
            {{ form.unit }}
            {% for msg in form.unit.errors %}
            <p style="color: red;">{{ msg }}</p>
            {% endfor %}

            <p>{{ form.selected_date.label_tag }}</p>
            {{ form.selected_date }}
            {% for msg in form.selected_date.errors %}
            <p style="color: red;">{{ msg }}</p>
            {% endfor %}
        
            <p>{{ form.selected_time.label_tag }}</p>
            {{ form.selected_time }}
            {% for msg in form.selected_time.errors %}
            <p style="color: red;">{{ msg }}</p>
            {% endfor %}

            <button type="submit">click</button>
        </form>

    </div>

</div>

{% endblock %}