{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/auth.css' %}" media="screen and (min-width: 801px)">
<link rel="stylesheet" href="{% static 'css/responsive/auth-res.css' %}" media="screen and (max-width: 800px)">
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;">

    <div style="flex: 1; padding: 1rem; border: 1px solid red; margin: 1rem;">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; border: 1px solid blue; margin: 1rem;">

        <h1>Online Appointment</h1>

        <ul>

            <li><a href="{% url 'panel:appointment-limittime' %}">limit time before appointment</a></li>
            <li><a href="{% url 'panel:appointment-insurances' %}">insurances</a></li>
            <li><a href="{% url 'panel:appointment-tips' %}">tips</a></li>
            <li><a href="{% url 'panel:appointment-doctorlist' %}">doctors list</a></li>
            <li><a href="{% url 'panel:appointment-price' %}">price of appointment</a></li>

        </ul>

    </div>

</div>

{% endblock %}