{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/auth.css' %}" media="screen and (min-width: 801px)">
<link rel="stylesheet" href="{% static 'css/responsive/auth-res.css' %}" media="screen and (max-width: 800px)">
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;" id="application">

    <div style="flex: 1; padding: 1rem; border: 1px solid red; margin: 1rem;">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; border: 1px solid blue; margin: 1rem;">

        <h1>Online Appointment - insurances</h1>

        <button>create +</button>

        <div class="box">
            <form method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}

                <p>{{ form.title.label_tag }}</p>
                {{ form.title }}
                {% for msg in form.title.errors %}
                <p style="color: red;">{{ msg }}</p>
                {% endfor %}

                <p>{{ form.img.label_tag }}</p>
                {{ form.img }}
                {% for msg in form.img.errors %}
                <p style="color: red;">{{ msg }}</p>
                {% endfor %}

                <button type="submit">create +</button>
            </form>
        </div>

        {% for insurance in insurances %}
        <div class="box">
            <div>{{ insurance.title }}</div>
            <div><img src="{{ insurance.img.url }}" style="height: 50px; width: 50px;"></div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}
