{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/auth.css' %}" media="screen and (min-width: 801px)">
<link rel="stylesheet" href="{% static 'css/responsive/auth-res.css' %}" media="screen and (max-width: 800px)">
{% endblock %}


{% block content %}

<div id="username" class="d-non">{{ request.user.username }}</div>
<div id="token" class="d-non"></div>

<div style="display: flex; direction: rtl !important;" id="application">

    <div style="flex: 1; padding: 1rem; border: 1px solid red; margin: 1rem;">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; border: 1px solid blue; margin: 1rem;">

        <h1>Online Appointment - limit time</h1>

        <a @click="clck">create one</a>

        <div class="box">
            <div>تا ساعت چند؟: {{ limit_time.to_hour }}</div>
            <div>چند روز قبل؟ (به ساعت): {{ limit_time.how_days_hour }}</div>
            <div><a href="">edit</a></div>
        </div>

        

    </div>

</div>

{% endblock %}

    
{% block extraScript %}
<script type="text/javascript" src="{% static 'js/vue3.js' %}"></script>

<script>

    Vue.createApp({

        delimiters: ["[[", "]]"],

        data() {
            return {
                message: 'Hello Vue!'
            }
        },

        mounted() {
            this.get_user_auth();
        },

        methods: {
            clck() {

                let username = document.getElementById('username');
                let token = document.getElementById('token');

                let formdata = new FormData();
                formdata.append('dat', 'dat');

                (async () => {
                    await fetch('/' + window.location.pathname[1] + window.location.pathname[2] + '/api/v1/limit-time/management/', {
                        method: "GET",
                        // body: new URLSearchParams(formdata),
                        headers: {
                            "Content-type": "application/x-www-form-urlencoded",
                            "Authorization": "Token " + token.innerText,
                        }
                    })
                    .then(response => response.json())
                    .then((response) => {
                        console.log(response)
                    })
                    .catch(err => {
                        console.log('ERR: ', err);
                    });
                })();

            },

            get_user_auth() {

                console.log('saeeeeeeeeeed');

                let username = document.getElementById('username');
                let token = document.getElementById('token');

                let formdata = new FormData();
                formdata.append('username', username.innerText);
                formdata.append('password', username.innerText * 2);

                (async () => {
                    await fetch('/' + window.location.pathname[1] + window.location.pathname[2] + '/api/v1/user/get/token/', {
                        method: "POST",
                        body: new URLSearchParams(formdata),
                        headers: {
                            "Content-type": "application/x-www-form-urlencoded"
                        }
                    })
                    .then(response => response.json())
                    .then((response) => {
                        token.innerText = response.token;
                    })
                    .catch(err => {
                        console.log('ERR: ', err);
                    });
                })();
            },
        }

    }).mount('#application');

</script>
{% endblock %}