{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks jalali_tags %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;" id="application">

    {% if messages %}
    <ul>
        {% for msg in messages %}
        <li style="color: red;"><p>{{ msg }}</p></li>
        {% endfor %}
    </ul>
    {% endif %}


    <div style="flex: 1; padding: 1rem; border: 1px solid red; margin: 1rem;">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; border: 1px solid blue; margin: 1rem;">

        <h1>Online Appointment - patient turns</h1>

        {% for patient in patients %}
        <div class="box">
            <div title="code">{{ patient.code }}</div>
            <div title="patient">{{ patient.patient }}</div>
            <div title="appointment">{{ patient.appointment }}</div>
            <div title="insurance">{{ patient.insurance }}</div>
            <div title="price">{{ patient.price }}</div>
            <div title="prescription_code">{{ patient.prescription_code }}</div>
            <div title="experiment_code">{{ patient.experiment_code }}</div>
            <div title="turn">{{ patient.turn }}</div>
            <div title="is_paid">{{ patient.is_paid }}</div>
            <div title="is_canceled">{{ patient.is_canceled }}</div>
            <div title="is_canceled">{{ patient.is_canceled }}</div>
            <div title="created">{{ patient.created }}</div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}

