{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/auth.css' %}" media="screen and (min-width: 801px)">
<link rel="stylesheet" href="{% static 'css/responsive/auth-res.css' %}" media="screen and (max-width: 800px)">
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;" id="application">

    {% if messages %}
    <ul>
        {% for msg in messages %}
        <li style="color: red;"><p>{{ msg }}</p></li>
        {% endfor %}
    </ul>
    {% endif %}

    <div style="flex: 1; padding: 1rem; border: 1px solid red; margin: 1rem;">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; border: 1px solid blue; margin: 1rem;">

        <h1>Online Appointment - price appointment</h1>

        {% for price in prices %}
        <form method="POST" novalidate>
            {% csrf_token %}
            <div class="box">

                <input type="number" name="data" value="{{ price.id }}" class="d-none">
                
                <div>
                    {{ price.insurance }}
                </div>
                <div>
                    {{ price.degree }}
                </div>
                <div>
                    {{ price.price }}
                    <div id="wrapper_{{ price.id }}" class="d-none wrapper_form">
                        <input type="number" value="{{ price.price }}" name="price" id="price_id">
                    </div>
                </div>
                <div>
                    <button id="edit_price_{{ price.id }}" class="edit_toggle" onclick="open_edit_price('{{price.id}}')" type="button">edit</button>
                    <button id="submit_form_{{ price.id }}" class="submit_form d-none" type="submit">UPDATE Table</button>
                </div>
            </div>
            
        </form>
        {% endfor %}

    </div>

</div>

{% endblock %}


{% block extraScript %}

<script>
    function open_edit_price(divId) {
        document.querySelectorAll('.submit_form').forEach(element => {
            element.classList.add('d-none')
        });
        document.querySelectorAll('.wrapper_form').forEach(element => {
            element.classList.add('d-none')
        });
        document.querySelectorAll('.edit_toggle').forEach(element => {
            element.classList.remove('d-none')
        });
        document.getElementById(`wrapper_${divId}`).classList.remove('d-none')
        document.getElementById(`edit_price_${divId}`).classList.add('d-none');
        document.getElementById(`submit_form_${divId}`).classList.remove('d-none');
    }
</script>

{% endblock %}