{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks jalali_tags %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;" id="application">

    <div style="flex: 1; padding: 1rem; border: 1px solid red; margin: 1rem;">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; border: 1px solid blue; margin: 1rem;">

        <h1>Online Appointment - time appointment</h1>

        <a href="{% url 'panel:appointment-timep0' %}">create a new</a>

        <p>tip: these are times from now on</p>

        <p><a href="?type=all">all</a></p>
        <p><a href="?type=doctors">list of doctors</a></p>
        <p><a href="?type=labs">list of labs</a></p>
        <p><a href="?type=imaging">list of imaging</a></p>

        {% for time in times %}

        <div class="box">
            <div title="unit">{% if not time.unit %}پزشکان{% else %}{{ time.unit }}{% endif %}</div>
            <div title="doctor">{{ time.doctor }}</div>
            <div title="date">{{ time.date|to_jalali }}</div>
            <div title="day">{{ time.day }}</div>
            <div title="time_from">{{ time.time_from }}</div>
            <div title="time_to">{{ time.time_to }}</div>
            <div title="insurances">{% for ins in time.insurances.all %}{{ ins }} - {% endfor %}</div>
            <div title="capacity">{{ time.capacity }}</div>
            <div title="reserved">{{ time.reserved }}</div>
            <div><a href="{% url 'panel:appointment-timeedit' time.id %}">edit</a></div>
        </div>
        
        {% endfor %}

    </div>

</div>

{% endblock %}
