{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks jalali_tags %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;" id="application">

    {% if messages %}
    <ul>
        {% for msg in messages %}
        <li style="color: red;"><p>{{ msg }}</p></li>
        {% endfor %}
    </ul>
    {% endif %}


    <div style="flex: 1; padding: 1rem; border: 1px solid red; margin: 1rem;">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; border: 1px solid blue; margin: 1rem;">

        <h1>Online Appointment - time appointment</h1>

        <button id="toggle_form_btn">create +</button>

        <form method="POST" id="create_form" class="d-none" novalidate>
            {% csrf_token %}
            <div class="box">

                <div>
                    <p>{{ form.unit.label_tag }}</p>
                    {{ form.unit }}
                    {% for msg in form.unit.errors %}
                    <p style="color: red;">{{ msg }}</p>
                    {% endfor %}
                </div>
                <div>
                    <p>{{ form.doctor.label_tag }}</p>
                    {{ form.doctor }}
                    {% for msg in form.doctor.errors %}
                    <p style="color: red;">{{ msg }}</p>
                    {% endfor %}
                </div>
                <div>
                    <p>{{ form.date_from.label_tag }}</p>
                    {{ form.date_from }}
                    {% for msg in form.date_from.errors %}
                    <p style="color: red;">{{ msg }}</p>
                    {% endfor %}
                </div>
                <div>
                    <p>{{ form.date_to.label_tag }}</p>
                    {{ form.date_to }}
                    {% for msg in form.date_to.errors %}
                    <p style="color: red;">{{ msg }}</p>
                    {% endfor %}
                </div>
                <div>
                    <p>{{ form.day.label_tag }}</p>
                    {{ form.day }}
                    {% for msg in form.day.errors %}
                    <p style="color: red;">{{ msg }}</p>
                    {% endfor %}
                </div>
                <div>
                    <p>{{ form.time_from.label_tag }}</p>
                    {{ form.time_from }}
                    {% for msg in form.time_from.errors %}
                    <p style="color: red;">{{ msg }}</p>
                    {% endfor %}
                </div>
                <div>
                    <p>{{ form.time_to.label_tag }}</p>
                    {{ form.time_to }}
                    {% for msg in form.time_to.errors %}
                    <p style="color: red;">{{ msg }}</p>
                    {% endfor %}
                </div>
                <div>
                    <p>{{ form.price.label_tag }}</p>
                    {{ form.price }}
                    {% for msg in form.price.errors %}
                    <p style="color: red;">{{ msg }}</p>
                    {% endfor %}
                </div>
                <div>
                    <p>{{ form.capacity.label_tag }}</p>
                    {{ form.capacity }}
                    {% for msg in form.capacity.errors %}
                    <p style="color: red;">{{ msg }}</p>
                    {% endfor %}
                </div>
                <div>
                    <p>{{ form.tip.label_tag }}</p>
                    {{ form.tip }}
                    {% for msg in form.tip.errors %}
                    <p style="color: red;">{{ msg }}</p>
                    {% endfor %}
                </div>

            </div>
            <button type="submit">Create</button>
        </form>

        {% for time in times %}
        <div class="box">
            <div title="unit">{{ time.unit }}</div>
            <div title="doctor">{{ time.doctor }}</div>
            <div title="date">{{ time.date }}</div>
            <div title="day">{{ time.day }}</div>
            <div title="time_from">{{ time.time_from }}</div>
            <div title="time_to">{{ time.time_to }}</div>
            <div title="price">{{ time.price }}</div>
            <div title="capacity">{{ time.capacity }}</div>
            <div title="reserved">{{ time.reserved }}</div>
            <div title="tip">{{ time.tip }}</div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}


{% block extraScript %}

<script>
    document.getElementById('toggle_form_btn').addEventListener('click', () => {
        if(document.getElementById('create_form').classList.contains('d-none')){
            document.getElementById('create_form').classList.remove('d-none')
        }
        else {
            document.getElementById('create_form').classList.add('d-none')
        }
    })
</script>

{% endblock %}