{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks jalali_tags %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;" id="application">

    {% if messages %}
    <ul>
        {% for msg in messages %}
        <li style="color: red;"><p>{{ msg }}</p></li>
        {% endfor %}
    </ul>
    {% endif %}


    <div style="flex: 1; padding: 1rem; border: 1px solid red; margin: 1rem;">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; border: 1px solid blue; margin: 1rem;">

        <h1>Online Appointment - create time appointment - p1</h1>

        <form method="POST" novalidate>
            {% csrf_token %}
            <div class="box">

                <div>
                    <p>{{ form.unit.label_tag }}</p>
                    {{ form.unit }}
                    {% for msg in form.unit.errors %}
                    <p style="color: red;">{{ msg }}</p>
                    {% endfor %}
                </div>
                <div>
                    <p>{{ form.doctor.label_tag }}</p>
                    {{ form.doctor }}
                    {% for msg in form.doctor.errors %}
                    <p style="color: red;">{{ msg }}</p>
                    {% endfor %}
                </div>

            </div>
            <button type="submit">Continue</button>
        </form>

    </div>

</div>

{% endblock %}
