{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks jalali_tags %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;">

    <div style="flex: 1; padding: 1rem 0; border: 1px solid #ccc; margin: 0.3rem; border-radius: 7px;" class="bg-light">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; margin: 0.3rem;">

        <h1>نوبت دهی</h1>

        <a href="{% url 'panel:appointment-timep0' %}">ثبت زمان نوبت دهی</a>

        <p>نکته: تمامی آیتم های نمایش داده شده از زمان حال تا آینده هستند.</p>

        <p><a href="?type=all">همه</a></p>
        <p><a href="?type=doctors">لیست پزشکان</a></p>
        <p><a href="?type=labs">لیست آزمایشگاه ها</a></p>
        <p><a href="?type=imaging">لیست تصویربرداری ها</a></p>

        {% for time in times %}

        <div class="alert alert-light text-primary d-flex mt-3">
            <div style="flex: 1;" title="unit">{% if not time.unit %}پزشکان{% else %}{{ time.unit }}{% endif %}</div>
            <div style="flex: 1;" title="doctor">{{ time.doctor }}</div>
            <div style="flex: 1;" title="date">{{ time.date|to_jalali }}</div>
            <div style="flex: 1;" title="day">{{ time.day }}</div>
            <div style="flex: 1;" title="time_from">{{ time.time_from }}</div>
            <div style="flex: 1;" title="time_to">{{ time.time_to }}</div>
            <div style="flex: 1;" title="insurances">{% for ins in time.insurances.all %}{{ ins }} - {% endfor %}</div>
            <div style="flex: 1;" title="capacity">{{ time.capacity }}</div>
            <div style="flex: 1;" title="reserved">{{ time.reserved }}</div>
            <div style="flex: 1;" title="status">{{ time.status }}</div>
            <div style="flex: 1;"><a class="btn btn-primary" href="{% url 'panel:appointment-timeedit' time.id %}">ویرایش</a></div>
        </div>
        
        {% endfor %}

    </div>

</div>

{% endblock %}
