{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks jalali_tags %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;">

    <div style="flex: 1; padding: 1rem 0; border: 1px solid #ccc; margin: 0.3rem; border-radius: 7px;" class="bg-light">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; margin: 0.3rem;">

        <h1>ثبت زمان (۳)</h1>

        <form method="POST" novalidate autocomplete="off">
            {% csrf_token %}
            <div class="box">

                <br>
                {% for insurance in insurances %}
                <label for="{{ insurance.id }}_insurance">{{ insurance.title }}</label>
                <input type="checkbox" id="{{ insurance.id }}_insurance" name="insurances" value="{{ insurance.id }}" checked />
                {% endfor %}
                <br><br>
                
                <label for="saturday_checkbox">شنبه</label>
                <input type="checkbox" value="saturday" id="saturday_checkbox" name="days">

                <label for="sunday_checkbox">یکشنبه</label>
                <input type="checkbox" value="sunday" id="sunday_checkbox" name="days">

                <label for="monday_checkbox">دوشنبه</label>
                <input type="checkbox" value="monday" id="monday_checkbox" name="days">

                <label for="tuesday_checkbox">سه شنبه</label>
                <input type="checkbox" value="tuesday" id="tuesday_checkbox" name="days">

                <label for="wednesday_checkbox">چهارشنبه</label>
                <input type="checkbox" value="wednesday" id="wednesday_checkbox" name="days">

                <label for="thursday_checkbox">پنجشنبه</label>
                <input type="checkbox" value="thursday" id="thursday_checkbox" name="days">

                <label for="friday_checkbox">جمعه</label>
                <input type="checkbox" value="friday" id="friday_checkbox" name="days">

                <br><br>
                {{ form.as_p }}


            </div>
            <br>
            <button type="submit">ثبت</button>
        </form>

    </div>

</div>

{% endblock %}
