{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks jalali_tags %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
<script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
{% endblock %}


{% block content %}


<div style="display: flex; direction: rtl !important;">

    <div style="flex: 1; padding: 1rem 0; border: 1px solid #ccc; margin: 0.3rem; border-radius: 7px;" class="bg-light">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; margin: 0.3rem;">

        <h1>انتخاب بخش (۱)</h1>

        <form method="POST" novalidate>
            {% csrf_token %}
            <div class="box">

                <select name="units">
                    <option value="doctors">doctors</option>
                    {% for unit in units %}
                    <option value="{{ unit.id }}">{{ unit.subunit.title }}</option>
                    {% endfor %}
                </select>

            </div>
            <br>
            <button type="submit">ادامه</button>
        </form>

    </div>

</div>

{% endblock %}
