{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/auth.css' %}" media="screen and (min-width: 801px)">
<link rel="stylesheet" href="{% static 'css/responsive/auth-res.css' %}" media="screen and (max-width: 800px)">
{% endblock %}


{% block content %}


<div style="display: flex; direction: rtl !important;" id="application">

    <div style="flex: 1; padding: 1rem; border: 1px solid red; margin: 1rem;">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; border: 1px solid blue; margin: 1rem;">

        <h1>Online Appointment - unit</h1>

        <div class="box" v-if="show_create_tips">
            <form method="POST" novalidate enctype="multipart/form-data">
                {% csrf_token %}

                <p><a href="{% url 'panel:appointment-subunit' %}">SubUnit</a></p>

                {{ form.as_p }}

                <button type="submit">create +</button>
            </form>
        </div>

        {% for unit in units %}
        <div class="box">  
            <div title="subunit">{{ unit.subunit.category }}</div>
            <div title="subunit">{{ unit.subunit.title }}</div>
            <div title="title">{{ unit.title }}</div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}
