{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks jalali_tags %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

    <h1>Online Appointment - <span style="color: red;">Home > lab</span></h1>

    <div class="box">
        <a href="{% url 'website:el-oa-lablist' %}">you know type of lab</a>
    </div>

    <div class="box">
        <a href="">you NOT know type of lab - you have electronic prescription</a>
    </div>

{% endblock %}

