{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks jalali_tags %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

    <h1>Online Appointment - <span style="color: red;">Home > lab > list</span></h1>

    {% for time in labs %}
    <div class="box">
        <div>{{ time.unit }}</div>
        <div>{{ time.doctor }}</div>
        <div>{{ time.date }}</div>
        <div>{{ time.day }}</div>
        <div>{{ time.time_from }}</div>
        <div>{{ time.time_to }}</div>
        <div>{{ time.insurances }}</div>
        <div>{{ time.capacity }}</div>
        <div>{{ time.reserved }}</div>
        <div>{{ time.tip }}</div>
        <div>{{ time.tip_sms }}</div>
        <div><a href="{% url 'website:el-oad-phone' '1' %}">show calendar</a></div>
    </div>
    {% endfor %}

{% endblock %}

