{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

    <h1>بلاگ ها</h1>

    {% for blog in blogs %}
    <div class="alert alert-light text-primary d-flex">

        <div title="image"><img src="{{ blog.image.url }}" style="height: 50px; width: 50px;" alt=""></div>
        <div title="writer">{{ blog.writer }}</div>
        <div title="categories">{{ blog.categories }}</div>
        <div title="title">{{ blog.title }}</div>
        <div title="short_desc">{{ blog.short_desc }}</div>
        <div><a href="{% url 'blog:info' blog.slug %}">نمایش</a></div>
    </div>
    {% endfor %}

    
{% endblock %}

