{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

    <h1>نوبت دهی اینترنتی - <span style="color: red;">خانه > {{ header }}</span></h1>

    <ul>
        <li><a href="?type=all">همه</a></li>
        <li><a href="?type=expert">متخصص</a></li>
        <li><a href="?type=specialty">فوق تخصص</a></li>
        <li><a href="?type=fellowship">فلوشیپ</a></li>
    </ul>

    {% for doctor in doctors %}
    <div class="alert alert-light text-primary d-flex">
        <div style="flex: 1;">{{ doctor.user.firstname }} {{ doctor.user.lastname }}</div>
        <div style="flex: 1;">{{ doctor.skill_title.title }}</div>
        <div style="flex: 1;">{{ doctor.degree.title }}</div>
        <div style="flex: 1;"><a class="btn btn-primary" href="{% url 'units:oa-phone' unitSlug doctor.id %}">ادامه</a></div>
    </div>
    {% endfor %}

{% endblock %}

