{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks jalali_tags %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

    <h1>نوبت دهی اینترنتی - <span style="color: red;">خانه > پزشکان > تقویم > اطلاعات  > اطمینان > اتمام</span></h1>

    <h1>نوبت اینترنتی شما: {{ turn.turn }}</h1>
    <h1>نوبت شما: {{ turn.turn }}</h1>
    <p>{% if turn.is_paid %}عملیات موفقیت آمیز بود.{% endif %}</p>

{% endblock %}

