{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

    <h1>نوبت دهی - <span style="color: red;">خانه</span></h1>

    <p>متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. 
    متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است.  متن ساختگی است. متن ساختگی است. </p>
    <p>متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. 
    متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است.  متن ساختگی است. متن ساختگی است. </p>
    <p>متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. 
        متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است. متن ساختگی است.  متن ساختگی است. متن ساختگی است. </p>
            
    <a href="{% url 'units:oa-categories' %}">نوبت دهی اینترنتی</a>
    <br>
    <a href="{% url 'units:oa-followupturn' %}">پیگیری نوبت</a>
    <br>
    <a href="{% url 'units:oa-followupresult' %}">جوابدهی آنلاین</a>

{% endblock %}

