{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

    <h1>نوبت دهی اینترنتی- <span style="color: red;">خانه > مسیر دهنده</span></h1>

    <div class="box">
        <a href="{% url 'units:oa-unit' unitSlug %}">نوع ونام آزمایش را میدانم</a>
    </div>

    <div class="box">
        <a href="{% url 'units:oa-phone-pres' unitSlug %}">نوع و نام آزمایش را نمیدانم</a>
    </div>

{% endblock %}

