{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks jalali_tags %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

    <h1>نوبت دهی اینترنتی - <span style="color: red;">خانه > پزشکان > تقویم > اطلاعات</span></h1>
    <h1>جزییات نسخه ی الکترونیکی</h1>
    <div class="alert alert-primary"><p title="patient">کدملی: {{ turn.patient.username }}</p></div>
    <div class="alert alert-primary"><p title="patient">بیمار: {{ turn.patient.first_name }} {{ turn.patient.last_name }}</p></div>
    <div class="alert alert-primary"><p title="appointment">پزشک: {{ turn.appointment.doctor.get_full_name }} </p></div>
    <div class="alert alert-primary"><p>تخصص: {{ turn.appointment.doctor.degree.title }} {{ turn.appointment.doctor.skill_title.title }}</p></div>
    <div class="alert alert-primary"><p title="insurance">بیمه: {% if not turn.insurance.title %}آزاد{% else %}{{ turn.insurance.title }}{% endif %}</p></div>
    <div class="alert alert-primary"><p title="price">قیمت پرداختی: <b>{{ turn.price }}</b></p></div>
    <div class="alert alert-primary"><p title="prescription_code">نسخه پزشک دیگر: {{ turn.prescription_code }}</p></div>
    <div class="alert alert-primary"><p title="experiment_code">کد رهگیری: {{ turn.experiment_code }}</p></div>
    <br>

    <a class="btn btn-primray" href="{% url 'units:oa-trust' unitSlug turn.id uidb64 token %}">بعدی</a>
    <br>
    <br>

{% endblock %}

