{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks jalali_tags %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

    <h1>نوبت دهی اینترنتی - <span style="color: red;">خانه > پزشکان > تقویم > اطلاعات > اطمینان</span></h1>

    <h1>قوانین</h1>
    <p>{{ limit_time }}</p>
    
    <h1>نکات</h1>
    <p>{{ tips }}</p>

    <form method="POST" novalidate>
        {% csrf_token %}

        {{ form.check_rules.label_tag }}
        {{ form.check_rules }}
        {% for err in form.check_rules.errors %}
            <p style="color: red;">{{ err }}</p>
        {% endfor %}

        <button type="submit">پرداخت</button>
    </form>

{% endblock %}

