{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'آمپول | ثبت نام' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/auth.css' %}" media="screen and (min-width: 801px)">
<link rel="stylesheet" href="{% static 'css/responsive/auth-res.css' %}" media="screen and (max-width: 800px)">
{% endblock %}


{% block content %}



    <form class="text-center" method="POST" novalidate>
        {% csrf_token %}

        <label for="name_input_id">{% translate 'کدملی' %}</label>
        {% render_field form.username id="name_input_id" autofocus="autofocus" %}
        {% for msg in form.username.errors %}<p class="text-primary">{{ msg }}</p>{% endfor %}
        <div class="my-3"></div>


        <label for="name_input_id">{% translate 'نام' %}</label>
        {% render_field form.firstname id="name_input_id" %}
        {% for msg in form.firstname.errors %}<p class="text-primary">{{ msg }}</p>{% endfor %}
        <div class="my-3"></div>

        <label for="family_input_id">{% translate 'نام خانوادگی' %}</label>
        {% render_field form.lastname id="family_input_id" %}
        {% for msg in form.lastname.errors %}<p class="text-primary">{{ msg }}</p>{% endfor %}
        <div class="my-3"></div>

        <label for="phone_input_id">{% translate 'شماره تلفن همراه' %}</label>
        {% render_field form.phone id="phone_input_id" %}
        {% for msg in form.phone.errors %}<p class="text-primary">{{ msg }}</p>{% endfor %}
        <div class="my-3"></div>

        {% render_field form.captcha %}
        {% for msg in form.captcha.errors %}<p class="text-danger">{{ msg }}</p>{% endfor %}

    
        {% render_field form.gender %}

        <button type="submit" class="btn btn-primary m-5">{% translate 'ثبت نام' %}</button>

        <p><a href="{% url 'auth:signin' %}"><i class="fa fa-sign-in"></i> {% translate 'ورود به حساب کاربری' %}</a></p>
    
    </form>


{% endblock %}
