{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'آمپول | ثبت نام' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/auth.css' %}" media="screen and (min-width: 801px)">
<link rel="stylesheet" href="{% static 'css/responsive/auth-res.css' %}" media="screen and (max-width: 800px)">
{% endblock %}


{% block content %}



    <form class="wrapper__card__body" method="POST" novalidate>
        {% csrf_token %}

        <div class="wrapper__field mt-1">
            <label for="name_input_id">{% translate 'کدملی' %}</label>
            {% render_field form.username id="name_input_id" autofocus="autofocus" %}
            {% for msg in form.username.errors %}<p class="text-primary">{{ msg }}</p>{% endfor %}
        </div>

        <div class="wrapper__field mt-1">
            <label for="name_input_id">{% translate 'نام' %}</label>
            {% render_field form.firstname id="name_input_id" %}
            {% for msg in form.firstname.errors %}<p class="text-primary">{{ msg }}</p>{% endfor %}
        </div>

        <div class="wrapper__field">
            <label for="family_input_id">{% translate 'نام خانوادگی' %}</label>
            {% render_field form.lastname id="family_input_id" %}
            {% for msg in form.lastname.errors %}<p class="text-primary">{{ msg }}</p>{% endfor %}
        </div>

        <div class="wrapper__field">
            <label for="phone_input_id">{% translate 'شماره تلفن همراه' %}</label>
            {% render_field form.phone id="phone_input_id" %}
            {% for msg in form.phone.errors %}<p class="text-primary">{{ msg }}</p>{% endfor %}
        </div>

        {% render_field form.captcha %}
        {% for msg in form.captcha.errors %}<p class="text-danger">{{ msg }}</p>{% endfor %}

        <div class="wrapper__radio">

            {% render_field form.gender %}

            <!-- <div class="wrapper__radiobtn">
                <input type="radio" name="gender_radio" checked id="male_radio_id">
                <label for="male_radio_id">مرد</label>
            </div> -->
            
            <!-- <div class="wrapper__radiobtn">
                <input type="radio" name="gender_radio" id="female_radio_id">
                <label for="female_radio_id">زن</label>
            </div> -->

        </div>

        <p><a href="{% url 'auth:signin' %}"><i class="fa fa-sign-in"></i> {% translate 'ورود به حساب کاربری' %}</a></p>

        <div class="wrapper__btn">
            <button type="submit">{% translate 'ثبت نام' %}</button>
        </div>

    </form>


{% endblock %}
