{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'آمپول | ورود' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/auth.css' %}" media="screen and (min-width: 801px)">
<link rel="stylesheet" href="{% static 'css/responsive/auth-res.css' %}" media="screen and (max-width: 800px)">
{% endblock %}


{% block content %}


    <form class="p-3 mt-3 text-center" method="POST" novalidate>
        {% csrf_token %}

        <div> 
            {% render_field form.phone required="" %}
        </div>
        {% for msg in form.phone.errors %}<p class="text-danger">{{ msg }}</p>{% endfor %}
        
        {% render_field form.captcha %}
        {% for msg in form.captcha.errors %}<p class="text-danger">{{ msg }}</p>{% endfor %}

        <br>

        <button class="btn btn-primary" type="submit">{% translate 'ورود' %}</button>
    </form>
    <br>
    <div class="text-center fs-6">
        <a href="{% url 'auth:signup' %}">{% translate 'ثبت نام در سایت' %}</a> 
    </div>


{% endblock %}