{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/auth.css' %}" media="screen and (min-width: 801px)">
<link rel="stylesheet" href="{% static 'css/responsive/auth-res.css' %}" media="screen and (max-width: 800px)">
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;">

    <div style="flex: 1; padding: 1rem 0; border: 1px solid #ccc; margin: 0.3rem; border-radius: 7px;" class="bg-light">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; margin: 0.3rem;">

        <h1>مدیریت کامنت ها</h1>

        <h1>کامنت های خوانده ی نشده ی پست های شما:</h1>
        {% for comment in unread_comments %}
        <div class="alert alert-light text-primary d-flex">
            <p style="flex: 1;">{{ comment.first_name }} {{ comment.last_name }}</p>
            <p style="flex: 1;">{{ comment.j_created }}</p>
            <p style="flex: 1;"><a class="btn btn-outline-primary btn-sm" href="{% url 'blog:info' comment.blog.slug %}">نمایش بلاگ مربوطه</a></p>
            <p style="flex: 1;"><button class="btn btn-outline-primary btn-sm" onclick="read_comment('unread_message_{{ comment.id }}')">خواندن نظر</button></p>
        </div>
        <div class="alert alert-primary d-none" id="unread_message_{{ comment.id }}">
            {% if comment.reply %}<p>در جواب به کامنت: <u>{{ comment.reply.message|safe }}</u> از جناب <i>{{ comment.reply.first_name }} {{ comment.reply.last_name }}</i></p>{% endif %}
            <p>{{ comment.message|safe }}</p>
            <br><br>
            <form method="POST" novalidate>
                {% csrf_token %}

                {% render_field form.message placeholder='پاسخ شما' %}
                {% for msg in form.message.errors %} <p class="text-danger">{{ msg }}</p>{% endfor %}
                
                {% render_field form.comment_id value=comment.id placeholder='comment_id' %}
                {% for msg in form.comment_id.errors %} <p class="text-danger">{{ msg }}</p>{% endfor %}

                {% render_field form.blog_slug value=comment.blog.slug placeholder='blog_slug' %}
                {% for msg in form.blog_slug.errors %} <p class="text-danger">{{ msg }}</p>{% endfor %}

                <button type="submit">ارسال</button>
                <br>
                <a href="{% url 'panel:blog-commentdelete' comment.id %}" class="btn btn-danger">حذف کامنت</a>
                <a href="{% url 'panel:blog-commentedit' comment.id %}" class="btn btn-danger">ویرایش کامنت</a>
                {% if not comment.is_read %}<a class="btn btn-primary" href="{% url 'panel:blog-commentread' comment.id %}">این پست را خواندم</a>{% endif %}
                {% if not comment.is_show %}<a class="btn btn-outline-danger btn-sm" href="{% url 'panel:blog-commentshow' comment.id %}">اجازه ی نمایش و خواندن</a>{% endif %}    
            </form>
        </div>
        {% endfor %}

        <h1>کامنت های نمایش داده نشده ی پست های شما:</h1>
        {% for comment in unshow_comments %}
        <div class="alert alert-light text-primary d-flex">
            <p style="flex: 1;">{{ comment.first_name }} {{ comment.last_name }}</p>
            <p style="flex: 1;">{{ comment.j_created }}</p>
            <p style="flex: 1;"><a class="btn btn-outline-primary btn-sm" href="{% url 'blog:info' comment.blog.slug %}">نمایش بلاگ مربوطه</a></p>
            <p style="flex: 1;"><button class="btn btn-outline-primary btn-sm" onclick="read_comment('unshow_message_{{ comment.id }}')">خواندن نظر</button></p>
        </div>
        <div class="alert alert-primary d-none" id="unshow_message_{{ comment.id }}">
            {% if comment.reply %}<p>در جواب به کامنت: <u>{{ comment.reply.message|safe }}</u> از جناب <i>{{ comment.reply.first_name }} {{ comment.reply.last_name }}</i></p>{% endif %}
            <p>{{ comment.message|safe }}</p>
            <br><br>
            <form method="POST" novalidate>
                {% csrf_token %}

                {% render_field form.message placeholder='message' %}
                {% for msg in form.message.errors %} <p class="text-danger">{{ msg }}</p>{% endfor %}
                
                {% render_field form.comment_id value=comment.id placeholder='comment_id' %}
                {% for msg in form.comment_id.errors %} <p class="text-danger">{{ msg }}</p>{% endfor %}

                {% render_field form.blog_slug value=comment.blog.slug placeholder='blog_slug' %}
                {% for msg in form.blog_slug.errors %} <p class="text-danger">{{ msg }}</p>{% endfor %}

                <button type="submit">ارسال</button>
                <br>
                <a href="{% url 'panel:blog-commentdelete' comment.id %}" class="btn btn-danger">حذف کامنت</a>
                <a href="{% url 'panel:blog-commentedit' comment.id %}" class="btn btn-danger">ویرایش کامنت</a>
                {% if not comment.is_read %}<a class="btn btn-primary" href="{% url 'panel:blog-commentread' comment.id %}">این پست را خواندم</a>{% endif %}
                {% if not comment.is_show %}<a class="btn btn-outline-danger btn-sm" href="{% url 'panel:blog-commentshow' comment.id %}">اجازه ی نمایش و خواندن</a>{% endif %}    

            </form>
        </div>
        {% endfor %}


    </div>

</div>

<script>

    function read_comment(elementId) {
        document.getElementById(elementId).classList.remove('d-none');
    }

</script>

{% endblock %}
