{% extends 'panel/shared/_main_layout.html' %}
{% load static i18n widget_tweaks %}
{% block title %}{% translate 'online-appointment' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
<link rel="stylesheet" href="{% static 'css/auth.css' %}" media="screen and (min-width: 801px)">
<link rel="stylesheet" href="{% static 'css/responsive/auth-res.css' %}" media="screen and (max-width: 800px)">
{% endblock %}


{% block content %}

<div style="display: flex; direction: rtl !important;" id="application">

    <div style="flex: 1; padding: 1rem; border: 1px solid red; margin: 1rem;">
        <ul>
            
            {% include 'panel/shared/_sidebar.html' %}

        </ul>
    </div>
    <div style="flex: 4; padding: 1rem; border: 1px solid blue; margin: 1rem;">

        <h1>blog - edit</h1>

        <a href="{% url 'panel:blog-create' %}">create a new blog</a>

        {% for blog in blogs %}
        <div class="box">
            <div title="image">{{ blog.image }}</div>
            <div title="pdf">{{ blog.pdf }}</div>
            <div title="qr_img">{{ blog.qr_img }}</div>
            <div title="video_link">{{ blog.video_link }}</div>
            <div title="writer">{{ blog.writer }}</div>
            <div title="categories">{{ blog.categories }}</div>
            <div title="tags">{{ blog.tags }}</div>
            <div title="title">{{ blog.title }}</div>
            <div title="read_time">{{ blog.read_time }}</div>
            <div title="desc">{{ blog.desc }}</div>
            <div title="short_desc">{{ blog.short_desc }}</div>
            <div title="is_publish">{{ blog.is_publish }}</div>
            <div title="is_emailed">{{ blog.is_emailed }}</div>
            <div title="is_activate">{{ blog.is_activate }}</div>
            <div title="is_likeable">{{ blog.is_likeable }}</div>
            <div title="is_dislikeable">{{ blog.is_dislikeable }}</div>
            <div title="is_commentable">{{ blog.is_commentable }}</div>
            <div title="gallery">{{ blog.gallery }}</div>
            <div title="units">{{ blog.units }}</div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}
