
<h3>پنل کاربری</h3>
<h4 class="mt-4">{{ request.user.first_name }} {{ request.user.last_name }}</h4>

<li>
    <a href="{% url 'panel:home' %}">خانه</a>
</li>

<hr>

{% if request.user.is_doctor_manager %}
<li>
    <a href="{% url 'panel:doctor' %}">پنل پزشک</a>

    <li><a href="{% url 'panel:doctor-info' %}">اطلاعات من</a></li>
    <li><a href="{% url 'panel:doctor-vacation' %}">ثبت مرخصی</a></li>
    <li><a href="{% url 'panel:doctor-work' %}">ثبت ساعت کاری</a></li>
    <li><a href="{% url 'panel:doctor-insurances' %}">بیمه های من</a></li>
    <li><a href="{% url 'panel:doctor-patients' %}">بیماران من</a></li>
</li>
<hr>
{% endif %}

{% if request.user.is_blog_manager %}
<li>
    <a href="{% url 'panel:blog-list' %}">پنل مدیریت بلاگ</a><br>
    <a href="{% url 'panel:blog-comments' %}">مدیریت کامنت ها</a><br>
    <a href="{% url 'panel:blog-tag' %}">تگ ها</a><br>
    <a href="{% url 'panel:blog-category' %}">دسته بندی ها</a><br>
    <a href="{% url 'panel:blog-gallery' %}">گالری</a><br>
    <a href="{% url 'panel:blog-pamphlet' %}">پمفلت های آموزشی</a><br>
</li>
<hr>
{% endif %}

{% if request.user.is_news_manager %}
<li>
    <a href="{% url 'panel:news-list' %}">پنل مدیریت خبر</a><br>
    <a href="{% url 'panel:news-comments' %}">مدیریت کامنت ها</a><br>
    <a href="{% url 'panel:news-tag' %}">تگ ها</a><br>
    <a href="{% url 'panel:news-category' %}">دسته بندی ها</a><br>
    <a href="{% url 'panel:news-gallery' %}">گالری</a><br>
</li>
<hr>
{% endif %}

{% if request.user.is_note_manager %}
<li>
    <a href="{% url 'panel:notes-list' %}">پنل مدیریت نوت ها</a>
</li>
<hr>
{% endif %}

{% if request.user.is_expriment_manager %}
<li>
    <a href="{% url 'panel:experiment' %}">پنل آزمایشگاه</a>
    <li><a href="{% url 'panel:experiment-list' %}">لیست آزمایش ها</a></li>
    <li><a href="{% url 'panel:experiment-patient' %}">ثبت بیمار</a></li>
</li>   
<hr>
{% endif %}

{% if request.user.is_appointment_manager %}
<li>
    <a href="{% url 'panel:appointment' %}">مدیریت نوبت دهی</a>
    <li><a href="{% url 'panel:appointment-price' %}">تعرفه ی نوبت دهی</a></li>
    <li><a href="{% url 'panel:appointment-patient' %}">بیماران نوبت دهی</a></li>
    <li><a href="{% url 'panel:appointment-eturnlist' %}">نسخه های الکترونیکی</a></li>
</li>
<hr>
{% endif %}

{% if request.user.is_ipd_manager %}
<li>
    <a href="{% url 'panel:ipd-list' %}">مدیریت IPD</a>
</li>
<hr>
{% endif %}

{% if request.user.is_contact_manager %}
<li>
    <a href="{% url 'panel:contact' %}">مدیریت ارتباطات</a>
    <li><a href="{% url 'panel:contact-careers' %}">موقعیت های شغلی</a></li>
    <li><a href="{% url 'panel:contact-recruitations' %}">درخواست های همکاری</a></li>
    <li><a href="{% url 'panel:contact-suggestions' %}">پیشنهادات و انتقادات</a></li>
    <li><a href="{% url 'panel:contact-contacts' %}">تماس های کاربران</a></li>

</li>
<hr>
{% endif %}

<li>
    <a href="{% url 'panel:editdata' %}">تغییر اطلاعات</a>
</li>
<li>
    <a href="{% url 'auth:signout' %}">خروج</a>
</li>