{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks web_tags %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}

{% for phone in phones %}
<div class="alert alert-light text-primary d-flex">
    <div style="flex: 1;">{{ phone.title }}</div>
    <div style="flex: 1;">{{ phone.phones }}</div>
    <div style="flex: 1;">{{ phone.email }}</div>
</div>
{% endfor %}

{% endblock %}