{% extends 'website/shared/_main_layout.html' %}
{% load static i18n widget_tweaks web_tags %}
{% block title %}{% translate 'خانه' %}{% endblock %}
{% block extraCss %}
<meta name="keywords" content="">
{% endblock %}

{% block content %}


{% for price in prices %}
<div class="alert alert-light text-primary d-flex">
    <div style="flex: 1;">{{ price.title }}</div>
    <div style="flex: 1;">{{ price.price_free }}</div>
    <div style="flex: 1;">{{ price.insurance }}</div>
    <div style="flex: 1;">{{ price.price_insurance }}</div>
    <div style="flex: 1;">{{ price.year }}</div>
</div>
{% endfor %}

{% endblock %}